# Compiled class file
#.gitignore
*.class
*/bin/*
bin/*
*/build/*
build/*
.gradle/*
/.gradle/*

# Log file
*.log
*.log.*
*/logs/*
*/jdk/*
jdk/*

*/org/apache/mybatis/jpa/*
org/apache/mybatis/jpa/*
/.gradle/
/build/
