# Compiled class file
#.gitignore
*.class
*/bin/*
bin/*
/bin
/*/*/bin/*
/.gradle/*

# Log file
*.log
*.log.*
*/logs/*
/log

*/jdk/*

*/.settings/*
/.settings
*/org/apache/mybatis/jpa/*

*/build/*
build/*
/build
/*/*/build/*/*
/*/build/*/*
*/META-INF/MANIFEST.MF
/*/*/.gitignore
/*/.gitignore
/.gradle/
