# Compiled class file
#.gitignore
*.class
.classpath
.project
classpath-data.json
.myumldata


*/bin/*
/*/*/bin/*

/.metadata
*/.metadata/*

/.settings
*/.settings/*
/*/.settings/*
/*/*/.settings/*

/.sts4-cache
*/.sts4-cache/*

# Log file
*.log
*.log.*
*/logs/*
/log
/log/*

*/jdk/*

*/org/apache/mybatis/jpa/*

/build/*
*/build/*
/*/*/build/*/*
/*/build/*/*

*/META-INF/MANIFEST.MF
/*/*/.gitignore
/*/.gitignore

/.gradle/
/.gradle/*