* { padding:0; margin:0; outline:0; }
body{
	margin: 0;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 0 0 0px;
	font-size: 14px;
	text-align:center;
	float:center;
	font-family: "Arial", "Helvetica", "Verdana", "sans-serif";
}

.header {
    display: block;
    height: 65px;
    width: 100%;
    position: fixed;
    padding: 0;
    z-index: 1040;
    background-color: #fff;
    border-bottom: 1px solid #e9eaec;
    margin-bottom: 0;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    -ms-transition: all .2s ease;
}




.swlink {
    text-indent: -9999px;
    height: 0;
    line-height: 0;
    font-size: 0;
    overflow: hidden;
}

header .header-container .nav-left>li, .header .header-container .nav-right>li {
    float: left;
}
.search-box {
    margin-right: 20px;
    position: relative;
}

.header .header-container .nav-logo {
    float: left;
    padding-left: 40px;
    padding-top: 8px;
}

.header .header-container .nav-left {
    float: left;
}
.header .header-container .nav-left, .header .header-container .nav-right {
    position: relative;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.header .header-container .nav-right {
    float: right;
    margin-right: 30px;
}
.header .header-container .nav-left, .header .header-container .nav-right {
    position: relative;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.header .header-container .nav-left>li>a i, .header .header-container .nav-right>li>a i {
    font-size: 18px;
    vertical-align: middle;
    color: #fff;
    border-radius: 50%;
    border: 1px solid #f1f1f1;
    padding: 8px;
    color: #999;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
}

.sidenav-fold-toggler{
	text-align: inherit;
}
[class^=lni-], [class*=" lni-"] {
    font-family: lineicons!important;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.side-nav-dark .side-nav {
    background-color: #212529;
    color: #99abb4;
}
.side-nav {
    width: 250px;
    background-color: #fff;
    z-index: 1000;
    top: 65px;
    bottom: 0;
    position: fixed;
    overflow-y: auto;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    -ms-transition: all .2s ease;
}

.side-nav-folded .side-nav {
    width: 1px;
    padding-right: 1px;
    padding-left: 1px;
}

@media only screen and (min-width:992px) {
	.side-nav-folded .page-container {
		padding-left: 0px
	}
}

@media only screen and (max-width:992px) {
	.side-nav-folded .page-container {
		padding-left: 0
	}
}

.page-container {
    min-height: 100vh;
    padding-left: 250px;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    -ms-transition: all .2s ease;
}

.page-container .main-content {
    padding: calc(35px + 35px) 15px 15px;
    min-height: calc(100vh - 65px);
    background: #e6e8ea;
    width: 100%;
    flex-grow: 1;
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: #f5f5f5;
}

.breadcrumb-wrapper h4 {
    color: #515365;
    font-weight: 500;
    margin-top: 6px;
    font-size: 18px;
}

.breadcrumb-wrapper .breadcrumb {
    margin-bottom: 0;
    padding: 0;
    background: 0 0;
}

.breadcrumb-wrapper {
    margin-bottom: 10px;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.content-wrapper {
	padding-top: 15px;
}

.breadcrumb-wrapper .breadcrumb li {
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    margin-left: 3px;
}

.breadcrumb-wrapper .breadcrumb li a {
    text-decoration: none;
    color: #8a8a8a;
    cursor: pointer;
}
.breadcrumb-wrapper .breadcrumb .inactive {
    color: #8a8a8a;
}
.breadcrumb-wrapper .breadcrumb .active {
    color: #e22a6f;
}

.content-footer .footer {
    padding: 20px 0;
    font-size: 14px;
    border-top: 1px solid #e9eaec;
}

.wrapper-page {
    margin: 7.5% auto;
    position: relative;
}

.card-header .card-title {
    margin-bottom: 0;
    display: inline-block;
}

.form_title_bar{
	width: 100%;
	height: 36px;
  	text-align: left;
  	text-indent: 30px;
  	background-color: #f8f8f8;
}

.form_title_bar a {
  text-decoration: none;
  display: inline-block;
  height: 14px;
  color: #333;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 0;
  vertical-align: central;
}

#topBar{
	text-shadow: 0 1px 0 #fff;
	border-bottom: 1px solid #e5e5e5;
	min-width: 100%;
	text-align:left;
	min-height: 60px;
	margin-bottom: 1px;
}
#topNav{
	border-bottom: 1px solid #e5e5e5;
}

#navs{
	border-bottom: 1px solid #e5e5e5;
}

#nav_primary{
	background: #414141;
}

#nav_second{
	height:35px;
}
#nav_third{
	/*border-top: 1px solid #e5e5e5;*/
	text-align: inherit;
}

#mainFrame{
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	width:990px;
	text-align:center
}

#footer{
	text-shadow: 0 1px 0 #fff;
	border-top: 1px solid #e5e5e5;
	min-width: 100%;
	height:80px;
	
}

#content{
	margin-top: 10px;
	min-height:480px;
	*height:480px;
	margin-bottom: 10px;
}

#tool_box {
	margin-bottom: 10px;
	border: 1px solid #e5e5e5;
}

#tool_box  .table td, #tool_box  .table th,.toolbox .table td, .tool_box  .table th{
    padding: 0.2rem;
    vertical-align: middle;
}

#advanced_search_form  .table td, #advanced_search_form  .table th,.toolbox .table td, .tool_box  .table th{
    padding: 0.2rem;
    vertical-align: middle;
}

#advanced_search_form  .table td, #advanced_search_form  .table th,.toolbox .table td, .tool_box  .table th{
    padding: 0.2rem;
    vertical-align: middle;
}

#tool_box_left {
	padding-left: 10px;
	float: left;
	height:30px;
	width:50%;
	text-align: left;
	border-right: 1px solid #e5e5e5;
}

#tool_box_right {
	text-align: right;
}
#tool_box_right_more{
	text-align: right;
	padding-right: 10px;
}

#advanced_search {
	margin-top: 10px;
	min-height:30px;
	*height:40px;
	border: 1px solid #e5e5e5;
	margin-bottom: 10px;
	display: none;
}

.buttonList{
	float: right;
}
#logout{
	width: 45px;
  	background: #c00 ;
  	color: #fff;
  	font-weight: bold;	
}

#manage{
	width: 50px;
	background-color: #2AA9A9;
	font-weight: bold;	
}

#changepassword{
	width: 75px;
	background-color: #f28018;
	font-weight: bold;	
}

#manage a,#logout a,#changepassword a{
	  color: #fff;
}

.form_radio_label, .form_checkbox_label{
  display: inline-block;
  text-align: left;
  cursor: pointer;
  margin-right: 1em;
}

.icon_checkbox {
  background: url("../images/checkbox.png") 0 -83px no-repeat;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  display: inline-block;
  margin-top: -0.2em;
}

.icon_checkbox_selected{
  background: url("../images/checkbox.png") 0 -109px no-repeat;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  display: inline-block;
  margin-top: -0.2em;
}

.icon_radiobox {
  background: url("../images/checkbox.png") 0 -5px no-repeat;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  display: inline-block;
  margin-top: -0.2em;
}

.icon_radiobox_selected{
  background: url("../images/checkbox.png") 0 -31px no-repeat;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  display: inline-block;
  margin-top: -0.2em;
}

.select-menu-modal{
	position: absolute;
	display: none;
	z-index: 1989;
	width: 300px;
	margin-top: 4px;
	margin-bottom: 20px;
	overflow: hidden;
	font-size: 12px;
	color: #666;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,0.15);
	border-radius: 5px;
	box-shadow: 0 3px 12px rgba(0,0,0,0.25);
}

.select-menu-item{
	cursor: pointer;
	line-height: 33px;
	border-bottom: 1px solid #eee;
	display: table;
	table-layout: fixed;
	width: 100%;
	overflow: hidden;
	color: inherit;
	text-align: left;
}
.select-menu-item a{
	text-decoration : none;
}


.select-menu-item a div{
	width: 140px;
	line-height: 33px;
}




.select-menu-item-selected{
	background-color: #4183c4;
	color: #fff;
}

.select-menu-item-selected a{
	color: #fff;
}


/*switch_tab*/
.switch_tab{
	list-style: none;
	border: 0;
	border-collapse:collapse
}

.switch_tab_class{
	float:left;
	height:36px;
	text-align: center;
}

.switch_tab_class a{
	text-decoration: none;
	display: inline-block;
	height: 14px;
	color: black;
	font-size: 14px;
	font-weight: bold;
	padding: 8px 0;
	vertical-align: central;
}

.switch_tab_current{
	background-color: #0d6efd;
	border-right: 1px solid #e3e3e3;
	border-bottom: 1px solid #e3e3e3;
}

.switch_tab_current a{
    color: white;
}

/*maxkey login*/

#tableform{
	border: 1px solid #e9eeed;
	border-collapse:collapse
}

.login_form_table{
	width:358px;
	border:0;
}
#j_username,#j_password,#j_captcha,#tfa_j_username,#tfa_j_password,#currentTime{
	font-size: 14px;
	font-weight: bold;
	height: 40px;
}

#loginForm .input-group i.fa{ 
    position: absolute; 
    top: 5px; 
    left: 5px; 
    font-size: 24px; 
    color: black;
    z-index: 20;
}

#tfa_j_otp_captcha{
	width	:100px;
	/*width	:230px;*/
	font-size: 14px;
	font-weight: bold;	
}

#tfa_j_otp_captcha_button{
	width	:130px;
	height: 34px;
	font-size: 14px;
	font-weight: bold;	
}

#switch_commonLogin,#switch_tfaLogin{
	width	:49%;
}

#div_tfaLogin{
	display: none;
}

.login_button{
	width:80%;
}
#register{
	font-size: 14px;
	font-weight: bold;
	height: 33px;
	color: white;
	background-color: #4D4E54;
}
#register a{
	font-weight: bold;
	color: white;
}

.login_error_message{
	height:37px;
	background-color: #FFE5E5;
	font-weight: bold;
}

.error{
    color: red;
    text-align: center;
}

.table > :not(:first-child) {
    border-color: #dee2e6;
}

.float-right{
    float: right;
}


.float-left{
	float: left;
}


.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.input-group i.fa {
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 24px;
    color: black;
    z-index: 20;
}