@{page-header-prefix} {
  margin-right: -@alain-blank-content-padding-horizontal;
  margin-bottom: @alain-blank-content-padding-vertical;
  margin-left: -@alain-blank-content-padding-horizontal;
  padding: @alain-blank-content-padding-horizontal;
  padding-top: @alain-blank-content-padding-horizontal - 12;
  padding-bottom: @alain-blank-content-padding-horizontal - 12;
}
