<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.maxkey.persistence.mapper.GroupPrivilegesMapper" >

	<sql id="where_statement">
    	<if test="id != null and id != ''">
			and	apps.id	=	#{id}
		</if> 
		<if test="name != null and name != ''">
			and apps.name like  concat('%',#{name},'%') 
		</if>
		<if test="protocol != null and protocol != ''">
			and apps.protocol = #{protocol}
		</if>
		<if test="category != null and category != ''">
			and apps.category = #{category}
		</if>
    </sql>
	
	<!-- AppGroup -->
	<select id="appsInGroup" parameterType="GroupPrivileges" resultType="GroupPrivileges">
		select
			gp.id,
			gp.groupid,
			gp.appid,
			apps.name,
            apps.icon,
            apps.loginurl,
            apps.protocol,
            apps.category,
            apps.description,
            apps.vendor,
            apps.vendorurl
		from
			mxk_apps apps,
			mxk_group_privileges    gp
		where
			gp.appid=apps.id
			and gp.groupid	=	#{groupId}
		<include refid="where_statement"/>
	</select>
	
	<select id="appsNotInGroup" parameterType="GroupPrivileges" resultType="GroupPrivileges">
		select
			*
		from
			mxk_apps apps
		where
			 1	=	1
			and  apps.id not in(
				select 
					appid
				from
					mxk_group_privileges
				where 
					groupid	=	#{groupId}
			)
		<include refid="where_statement"/>
	</select>
	
</mapper>