<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.maxkey.persistence.mapper.NoticesMapper">

	<sql id="where_statement">
    	<if test="id != null and id != ''">
			and	id	=	#{id}
		</if> 
		<if test="title != null and title != ''">
			and title  like  concat('%',#{title},'%')  
		</if> 
    </sql>
    
	
	
	<select id="queryPageResults" parameterType="Notices" resultType="Notices">
		select
			*
		from
			mxk_notices
		where
			 (1=1)	
		<include refid="where_statement"/>
		order by  modifieddate desc
	</select>
	
	<select id="queryLastedNotices" parameterType="Notices" resultType="Notices">
		select
			*
		from
			mxk_notices
		order by  modifieddate desc
		limit 1
	</select>
	
</mapper>