<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.maxkey.persistence.mapper.AppsSaml20DetailsMapper">

    <select id="getAppDetails" parameterType="string" resultType="AppsSaml20Details">
        select svd.certissuer,
               svd.certsubject,
               svd.certexpiration,
               svd.keystore,
               svd.spacsurl,
               svd.issuer,
               svd.entityid,
               svd.audience,
               svd.validityinterval,
               svd.nameidformat,
               svd.encrypted,
               svd.binding,
               svd.nameidconvert,
               svd.signature,
               svd.digestmethod,
               svd.metaurl,
               app.*
        from mxk_apps_saml_v20_details svd,
             mxk_apps app
        where app.instid = svd.instid
          and app.id = #{value}
          and svd.id = #{value}
          and svd.id = app.id
          and app.status = 1
    </select>

</mapper>