<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.maxkey.persistence.mapper.UserInfoAdjointMapper">

    <sql id="where_statement">
        <if test="id != null and id != ''">
            and id = #{id}
        </if>
        <if test="userId != null and userId != ''">
            and userid = #{userId}
        </if>
    </sql>


    <select id="queryPageResults" parameterType="UserInfoAdjoint" resultType="UserInfoAdjoint">
        select
        *
        from
        mxk_userinfo_adjunct
        where
        instid = #{instId}
        <include refid="where_statement"/>
    </select>


    <update id="logisticDelete" parameterType="UserInfoAdjoint">
        update mxk_userinfo_adjunct set
        status = '2'
        where instid = #{instId}
        <if test="id != null">
            and id = #{id}
        </if>
        <if test="name != name">
            and NAME = #{name}
        </if>
    </update>


    <update id="logisticBatchDelete" parameterType="java.util.List">
        update mxk_userinfo_adjunct
        set status='2'
        where instid = #{instId}
        and id in
        <foreach item="item" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>


</mapper>