@import './theme-default.less';

@alain-default-header-bg: @component-background;
@alain-default-header-box-shadow: @shadow-1-down;

@alain-default-aside-bg: @component-background;
@alain-default-aside-nav-selected-bg: @component-background;
@alain-default-content-heading-bg: @component-background;
@alain-default-aside-nav-divider-bg: @border-color-split;
@alain-default-content-heading-border: @border-color-split;
@alain-default-content-bg: ~'var(--@{alain-default-name}-content-bg, @{body-background})';
