@alain-blank-name: 'alain-blank';
@alain-blank-prefix: ~'.@{alain-blank-name}';

@alain-blank-zindex: @zindex-base;
@alain-blank-bg: #f5f7fa;
// @alain-blank-bg: ~'var(--@{alain-blank-name}-bg, #f5f7fa)';

@alain-blank-content-padding-vertical: 0;
@alain-blank-content-padding-horizontal: @layout-gutter * 2;
