<?xml version="1.0" encoding="UTF-8" ?>
<beans 	xmlns="http://www.springframework.org/schema/beans"
		xmlns:context="http://www.springframework.org/schema/context"
		xmlns:mvc="http://www.springframework.org/schema/mvc"
		xmlns:sec="http://www.springframework.org/schema/security"
		xmlns:oauth20="http://www.springframework.org/schema/security/oauth2"
		xmlns:oauth10a="http://www.springframework.org/schema/security/oauth"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:p="http://www.springframework.org/schema/p"
		xmlns:util="http://www.springframework.org/schema/util"
		xsi:schemaLocation="
			http://www.springframework.org/schema/security/oauth2
			http://www.springframework.org/schema/security/spring-security-oauth2.xsd
			http://www.springframework.org/schema/security/oauth 
			http://www.springframework.org/schema/security/spring-security-oauth-1.0.xsd
	        http://www.springframework.org/schema/beans 
			http://www.springframework.org/schema/beans/spring-beans.xsd
	        http://www.springframework.org/schema/context 
	        http://www.springframework.org/schema/context/spring-context.xsd
	        http://www.springframework.org/schema/util     
	        http://www.springframework.org/schema/util/spring-util.xsd
	        http://www.springframework.org/schema/mvc 
			http://www.springframework.org/schema/mvc/spring-mvc.xsd
			http://www.springframework.org/schema/security 
			http://www.springframework.org/schema/security/spring-security.xsd">
			
    <!-- Scans the classpath for annotated components that will be auto-registered as Spring beans.
 		 @Controller and @Service. Make sure to set the correct base-package-->
 
 	<!-- domain bean  -->
 	<context:component-scan base-package="com.connsec.domain" />
 	
 	<!-- domain bean  -->
 	<context:component-scan base-package="com.connsec.domain.apps" />
 	
 	<!-- domain bean  -->
 	<context:component-scan base-package="com.connsec.domain.system" />
 	
	<!-- Business  Contorller -->
	<context:component-scan base-package="com.connsec.web.contorller" />
	
	<!-- App  Contorller -->
	<context:component-scan base-package="com.connsec.web.apps.contorller" />
	
	<!-- System  Endpoint -->
	<context:component-scan base-package="com.connsec.web.endpoint" />
	
	<!-- XML bean Marshaller define  -->
	<bean id="Jaxb2Marshaller" class="org.springframework.oxm.jaxb.Jaxb2Marshaller">
		<property name="classesToBeBound">
			<list>
				<value>com.connsec.domain.xml.UserInfoXML</value>
			</list>
		</property>
	</bean>
	
	<!-- Static resources -->
	<!-- js images css -->
	<mvc:resources mapping="/jquery/**" location="/jquery/" />
	<mvc:resources mapping="/images/**" location="/images/" />
	<mvc:resources mapping="/css/**" location="/css/" />
	<mvc:resources mapping="/js/**" location="/js/" />
	
	<sec:http pattern="/jquery/**" security="none" /> 
	<sec:http pattern="/images/**" security="none" /> 
	<sec:http pattern="/css/**" security="none" /> 
	<sec:http pattern="/js/**" security="none" /> 
	<sec:http pattern="/provisioning/**" security="none" /> 	
	
	
	<!-- enable autowire -->
    <context:annotation-config />
    
    <!-- language select must remove -->
	<mvc:annotation-driven />
        
	<!-- MarshallingHttpMessageConverter -->
	<bean id="marshallingHttpMessageConverter" class="org.springframework.http.converter.xml.MarshallingHttpMessageConverter">
		<property name="marshaller" ref="Jaxb2Marshaller" />
		<property name="unmarshaller" ref="Jaxb2Marshaller" />
		<property name="supportedMediaTypes">
			<list>
				<value>application/xml;charset=UTF-8</value>
			</list>
		</property>
	</bean>
	
	<!--MappingJacksonHttpMessageConverter  -->
	<bean id="mappingJacksonHttpMessageConverter" class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
		<property name="supportedMediaTypes">
			<list>
				<value>application/json;charset=UTF-8</value>
			</list>
		</property>
	</bean>

	<!-- REST Client -->
	<bean id="restTemplate" class="org.springframework.web.client.RestTemplate">
		<property name="messageConverters">
			<list>
				<ref bean="marshallingHttpMessageConverter" />
				<ref bean="mappingJacksonHttpMessageConverter" />
			</list>
		</property>
	</bean>
	
	<!-- AnnotationMethodHandlerAdapter -->
	<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
		<property name="messageConverters">
			<util:list id="beanList">
				<ref bean="marshallingHttpMessageConverter" />
				<ref bean="mappingJacksonHttpMessageConverter" />
			</util:list>
		</property>
	</bean>
	
	
	<bean id="handlerMapping" class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping">
		<property name="interceptors">
			<list>
				<ref bean="localeChangeInterceptor" />
			</list>
		</property>
	</bean>
	
	<!-- web Controller InterceptorAdapter for platform permission  -->
	<mvc:interceptors>
		<mvc:interceptor>
			<!-- for index -->
			<mvc:mapping path="/index/*" />
			<!-- for System -->
			<mvc:mapping path="/menus/*" />
			<mvc:mapping path="/roles/*" />
			<mvc:mapping path="/logs/*" />
			<mvc:mapping path="/userinfo/*" />
			<mvc:mapping path="/relyingparty/*" />
			<mvc:mapping path="/sysconfig/*" />
			
			<mvc:mapping path="/roles/*"/>
			<mvc:mapping path="/applications/*"/>
			<mvc:mapping path="/approles/*"/>
			
			<mvc:mapping path="/users/*" />
			<mvc:mapping path="/enterprises/*" />
			<mvc:mapping path="/employees/*" />
			<mvc:mapping path="/authInfo/*" />
			<mvc:mapping path="/usercenter/*"/>
			<bean class="com.connsec.web.interceptor.PermissionAdapter" />
		</mvc:interceptor>
	</mvc:interceptors>
	
	<!-- web Controller InterceptorAdapter for platform log  -->
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/users/*" /> 
			<mvc:mapping path="/userinfo/*" />
			<mvc:mapping path="/enterprises/*" />
			<mvc:mapping path="/employees/*" />
			<mvc:mapping path="/authInfo/*" />
			<mvc:mapping path="/usercenter/*"/>
			<mvc:mapping path="/retrievePassword/*"/>
			<mvc:mapping path="/roles/*"/>
			<mvc:mapping path="/applications/*"/>
			<mvc:mapping path="/approles/*"/>
			<bean class="com.connsec.web.interceptor.LogAdapter" />
		</mvc:interceptor>
	</mvc:interceptors>

	<mvc:interceptors>
   		 <ref bean="localeChangeInterceptor" />
    </mvc:interceptors>
    
    
	<!-- View Resolver -->
	
	<bean id="UrlBasedViewResolver" class="org.springframework.web.servlet.view.UrlBasedViewResolver">
		<property name="viewClass">
			<value>org.springframework.web.servlet.view.tiles3.TilesView</value>
		</property>
		<property name="order" value="1" />
	</bean>
	
	<bean id="tilesConfigurer" class="org.springframework.web.servlet.view.tiles3.TilesConfigurer">
		<property name="definitions">
			<list>
				<value>/WEB-INF/tiles/tiles.xml</value>
				<value>/WEB-INF/tiles/tiles-system.xml</value>
				<value>/WEB-INF/tiles/tiles-select.xml</value>
				<value>/WEB-INF/tiles/tiles-apps.xml</value>
				<value>/WEB-INF/tiles/tiles-forgotpassword.xml</value>
				<value>/WEB-INF/tiles/tiles-groups.xml</value>
				<value>/WEB-INF/tiles/tiles-socialauth.xml</value>		
			</list>
		</property>
	</bean>
	
	<bean id="viewResolver"  class="org.springframework.web.servlet.view.InternalResourceViewResolver" p:prefix="/WEB-INF/views/" p:suffix=".jsp" p:order="2" />
	
	<!-- upload file support -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
    	<property name="maxUploadSize" value="4194304" />  
    </bean> 
    
	<!-- Login  -->
	<http use-expressions="false"  disable-url-rewriting="false" xmlns="http://www.springframework.org/schema/security" >
		<!-- <csrf disabled="true"/> 
		<headers>
			<frame-options policy="SAMEORIGIN" />
		</headers> -->
		<access-denied-handler error-page="/login"/>
		
		<intercept-url pattern="/**" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<form-login authentication-failure-url="/login" 
					default-target-url="/index" 
					login-page="/login" 
					login-processing-url="/login.do" 
					username-parameter="j_username"
					password-parameter="j_password"/>
		<logout logout-success-url="/login" logout-url="/logout.do" />
		<anonymous />
	</http>
	
	<!-- spring authentication provider -->
	<sec:authentication-manager alias="authenticationProvider" />
	
	<bean id="authenticationRealm" class="com.connsec.web.authentication.realm.jdbc.JdbcAuthenticationRealm">
		<constructor-arg ref="jdbcTemplate"/>
	</bean>
	
	
	<!-- Authentication providers -->
    <bean id="realmAuthenticationProvider" class="com.connsec.web.authentication.RealmAuthenticationProvider" >
    </bean>
    
	<authentication-manager alias="authenticationManager" xmlns="http://www.springframework.org/schema/security">
		<authentication-provider ref= "realmAuthenticationProvider"/>  
	</authentication-manager>
	
	<mvc:default-servlet-handler />
    

	
	<bean id="accessDecisionManager" class="org.springframework.security.access.vote.UnanimousBased" xmlns="http://www.springframework.org/schema/beans">
		<constructor-arg>
			<list>
				<bean class="org.springframework.security.access.vote.RoleVoter" />
				<bean class="org.springframework.security.access.vote.AuthenticatedVoter" />
			</list>
		</constructor-arg>
	</bean>
	
	
	<bean id="oauth20JdbcClientDetailsService" class="org.springframework.security.oauth2.provider.client.JdbcClientDetailsService">
		<constructor-arg ref="dataSource" /> 
	</bean>


	<sec:global-method-security pre-post-annotations="enabled" proxy-target-class="true">
		<!--you could also wire in the expression handler up at the layer of the http filters. See https://jira.springsource.org/browse/SEC-1452 -->

	</sec:global-method-security>

	<bean id="webSecurityExpressionHandler" class="org.springframework.security.web.access.expression.DefaultWebSecurityExpressionHandler" />
		
	<mvc:annotation-driven />

	<mvc:default-servlet-handler />
	

</beans>