<div *nzModalTitle> {{ isEdit ? ('mxk.text.edit' | i18n) : ('mxk.text.add' | i18n) }} </div>
<div>
  <form nz-form [formGroup]="formGroup" (ngSubmit)="onSubmit($event)" se-container="1">
    <nz-form-item>
      <nz-form-label [nzMd]="4" nzFor="id">{{ 'mxk.text.id' | i18n }}</nz-form-label>
      <nz-form-control [nzMd]="20" nzErrorTip="The input is not valid id!">
        <input [(ngModel)]="form.model.id" disabled="{{ isEdit }}" [ngModelOptions]="{ standalone: true }" nz-input name="id" id="id" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="4" [nzMd]="4" [nzXs]="24" nzRequired nzFor="name">{{ 'mxk.adapters.name' | i18n }} </nz-form-label>
      <nz-form-control [nzSm]="20" [nzMd]="20" [nzXs]="36" [nzXl]="48" nzErrorTip="The input is not validminLength!">
        <input [(ngModel)]="form.model.name" [ngModelOptions]="{ standalone: true }" nz-input name="name" id="name" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired [nzSm]="4" [nzXs]="24" nzFor="adapter">{{ 'mxk.adapters.adapter' | i18n }} </nz-form-label>
      <nz-form-control [nzSm]="20" [nzXs]="24" nzErrorTip="The input is not valid adapter!">
        <textarea
          rows="4"
          nz-input
          [(ngModel)]="form.model.adapter"
          [ngModelOptions]="{ standalone: true }"
          nz-input
          name="adapter"
          id="adapter"
        ></textarea>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="description">{{ 'mxk.text.description' | i18n }}</nz-form-label>
      <nz-form-control [nzSm]="20" [nzXs]="24" nzErrorTip="The input is not valid encoding!">
        <textarea
          rows="4"
          nz-input
          [(ngModel)]="form.model.description"
          [ngModelOptions]="{ standalone: true }"
          nz-input
          name="description"
          id="description"
        ></textarea>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>

<div *nzModalFooter>
  <button nz-button nzType="default" (click)="onClose($event)">{{ 'mxk.text.close' | i18n }}</button>
  <button nz-button nzType="primary" (click)="onSubmit($event)">{{ 'mxk.text.submit' | i18n }}</button>
</div>
