<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.connsec.dao.persistence.GroupPrivilegesMapper" >
	<sql id="sql_condition">
		WHERE	1	=	1
    	<if test="id != null">
			AND	ID	=	#{id}
		</if>
		<if test="groupId != null  and groupId != '' ">
			AND GROUPID like '#${groupId}#'
		</if>
		<if test="resourceId != null  and resourceId != '' ">
			AND RESOURCEID like '#${resourceId}#'
		</if>
		<if test="status != null  and status != '' ">
			AND	STATUS	=	#{status}
		</if>
	</sql>

    <delete id="deletePrivileges" parameterType="string">
    	DELETE FROM PRIVILEGES WHERE GROUPID = #{value}
    </delete>
    
    <insert id="insertPrivileges" parameterType="java.util.List">
     	INSERT INTO 
	   		PRIVILEGES 
	   	(
	   		ID,
			GROUPID,
			RESOURCEID
		)
    	VALUES	
    	<foreach collection="list" item="item" index="index"  separator=",">
    	(
    		#{item.id},
			#{item.groupId},
			#{item.resourceId}
		)
		</foreach>
     </insert>
     
         
    <select id="queryPrivileges" parameterType="string" resultType="Privileges">
    	SELECT DISTINCT R.* FROM PRIVILEGES P,RESOURCES R
    	WHERE P.RESOURCEID = R.ID 
	    	AND R.STATUS = 1 
	    	AND P.GROUPID = #{value} 
	    	ORDER BY  PID, SORTORDER 
    </select>  
    
     
</mapper>