<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.connsec.dao.persistence.IpAddrFilterMapper">
	<sql id="where_statement">
    	<if test="id != null and id != ''">
			AND	ID	=	#{id}
		</if> 
		<if test="ipAddr != null and ipAddr != ''">
			AND IPADDR LIKE '%${ipAddr}%'
		</if>
		<if test="filter != null and filter != ''">
			AND FILTER = #{filter}
		</if>
    </sql>
    
	
	
	<select id="grid" parameterType="IpAddrFilter" resultType="IpAddrFilter">
		SELECT
			*
		FROM
			IPADDRFILTER
		WHERE
			 (1=1)	
		<include refid="where_statement"/>
	</select>
	
	<select id="count" parameterType="IpAddrFilter" resultType="java.lang.Integer">
		SELECT
			COUNT(*) 
		FROM
			IPADDRFILTER
		WHERE
			 (1=1)	
		<include refid="where_statement"/>
	</select>
	
	
</mapper>