<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.maxkey.dao.persistence.OrganizationsMapper" >

	<sql id="dao_where_statement">
    	<if test="id != null and id != ''">
			AND	ID	=	#{id} 	
		</if> 
		<if test="name != null and name != '' ">
			AND	NAME	like	'%#{name}%'
		</if>
		<if test="pId != null and pId != '' ">
			AND	PID	=	#{pId}
		</if>
		<if test="pName != null and pName != ''">
			AND	PNAME	like	'%#{pName}%'
		</if>

    </sql>
	
    
    
     <select id="grid" parameterType="Organizations" resultType="Organizations">
    	SELECT 
			*
    	FROM ORGANIZATIONS 
    	WHERE	1	=	1
    	<include refid="dao_where_statement"/>
    </select>
    
  
    <select  id="count" resultType="java.lang.Integer">
    	SELECT COUNT(*) FROM ORGANIZATIONS
    	WHERE	1	=	1
    	<include refid="dao_where_statement"/>
    </select>
    
  
    <update id="logisticDelete" parameterType="Organizations" >
    	UPDATE ORGANIZATIONS SET STATUS	=	'2'  
    		WHERE	1	=	1
    	<if test="id != null and id != '' ">
			AND	ID	=	#{id}
		</if>
		<if test="name != name">
			ADN	NAME	=	#{name}
		</if>
		<if test="enable != null">
			ADN	STATUS	=	'1'
		</if>
		<if test="xPath != null">
			ADN	XPATH	=	#{xPath}
		</if>
    </update>
    
    <update id="logisticBatchDelete" parameterType="java.util.List">
    	UPDATE ORGANIZATIONS SET STATUS	=	'2'  
    		 WHERE ID IN
		<foreach collection="ids" item="selectId"  open="(" separator="," close=")">  
        	#{selectId}   
     	</foreach>
    </update>
    
  
</mapper>