<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.connsec.dao.persistence.PasswordPolicyMapper" >
	
    <select id="get" parameterType="PasswordPolicy" resultType="PasswordPolicy">
    	SELECT 
			ID,
			MINLENGTH,
	   		MAXLENGTH,
	   		LOWERCASE,
	   		UPPERCASE,
	   		DIGITS,
	   		SPECIALCHAR,
	   		ATTEMPTS,
	   		DURATION,
	   		EXPIRATION,
	   		USERNAME,
	   		SIMPLEPASSWORDS 
    	FROM PASSWORD_POLICY 
    </select>
    
     <update id="update" parameterType="PasswordPolicy">
     	UPDATE PASSWORD_POLICY 
	   	SET 
	   		MINLENGTH 			= 	#{minLength},
	   		MAXLENGTH			=	#{maxLength},
	   		LOWERCASE			=	#{lowerCase},
	   		UPPERCASE			=	#{upperCase},
	   		DIGITS				=	#{digits},
	   		SPECIALCHAR			=	#{specialChar},
	   		ATTEMPTS			=	#{attempts},
	   		DURATION			=	#{duration},
	   		EXPIRATION			=	#{expiration},
	   		USERNAME			=	#{username},
	   		SIMPLEPASSWORDS		=	#{simplePasswords}
    	WHERE 
    		ID	=	#{id}
     </update>
     
</mapper>