<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.connsec.dao.persistence.ProvisioningMapper">
	<sql id="sql_condition">
		WHERE	1	=	1
    	<if test="id != null">
			AND	ID	=	#{id}
		</if>
		<if test="name != null  and name != '' ">
			AND NAME like '%${name}%'
		</if>
		<if test="status != 0  and status != '' ">
			AND STATUS =	#{status}
		</if>
	</sql>
	
	<insert id="insert" parameterType="Provisioning">
		INSERT INTO PROVISIONING(
			ID,
			NAME,
			SCHEDULE,
			APPID,
			APPNAME,
			USERCONNECTOR,
			GROUPCONNECTOR,
			ORGCONNECTOR,
			PASSWORDCONNECTOR,
			URL,
			PRINCIPAL,
			CREDENTIALS,
			PROPERTIES,
			TYPE,
			SORTORDER,
			LASTETIME,
			LASTENDETIME,
			DESCRIPTION,
			STATUS		
		)VALUES(
			#{id},
			#{name},
			#{schedule},
			#{appId},
			#{appName},
			#{userConnector},
			#{groupConnector},
			#{orgConnector},
			#{passwordConnector},
			#{url},
			#{principal},
			#{credentials},
			#{properties},
			#{sortOrder},
			#{type},
			CURRENT_TIMESTAMP,
			CURRENT_TIMESTAMP,
			#{description},
			#{status}			
		)
	</insert>
	
	<update id="update" parameterType="Provisioning" >
    	UPDATE PROVISIONING SET
    		NAME			=	#{name},
    		SCHEDULE		=	#{schedule},
			APPID			=	#{appId},
			APPNAME			=	#{appName},
			USERCONNECTOR	=	#{userConnector},
			GROUPCONNECTOR	=	#{groupConnector},
			ORGCONNECTOR	=	#{orgConnector},
			PASSWORDCONNECTOR	=	#{passwordConnector},
			URL				=	#{url},
			PRINCIPAL		=	#{principal},
			CREDENTIALS		=	#{credentials},
			PROPERTIES		=	#{properties},
			TYPE			=	#{type},
			SORTORDER		=	#{sortOrder},
			DESCRIPTION		=	#{description},
			STATUS			=	#{status}
		WHERE 
			ID	=	#{id}
    </update>
	
	<select id="grid" parameterType="PROVISIONING" resultType="PROVISIONING">
    	SELECT 
			*
    	FROM PROVISIONING 
    	<include refid="sql_condition"/>
    	ORDER BY SORTORDER 
    </select>
    
   <select  id="count"  parameterType="PROVISIONING"  resultType="java.lang.Integer">
    	SELECT COUNT(1) FROM PROVISIONING
    	<include refid="sql_condition"/>
    </select>
    
    
	<select id="get" parameterType="string" resultType="Provisioning">
    	SELECT 
			*
    	FROM 
    		PROVISIONING
    	WHERE 	
    		ID	=	#{value}
    </select>
	
	<delete id="remove" parameterType="string" >
    	DELETE FROM PROVISIONING WHERE ID=#{value}
    </delete>
    
    <delete id="delete" parameterType="Provisioning" >
    	DELETE FROM PROVISIONING WHERE ID=#{id}
    </delete>
</mapper>