<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.connsec.dao.persistence.RegistrationMapper">

	<insert id="insert" parameterType="Registration">
		INSERT INTO REGISTRATION(
			ID,
			WORKEMAIL,
			WORKPHONE,
			COMPANY ,
			USERS,
			JOBTITLE,
			LASTNAME,
			FIRSTNAME,
			
			CREATEDDATE,

			STATUS
		)VALUES(
			#{id},
			#{workEmail},
			#{workPhone},
			#{company} ,
			#{users},
			#{jobTitle} ,
			#{lastName},
			#{firstName},
			
			current_timestamp(),
			
			1
		)
	</insert>
	
	<update id="remove" parameterType="string" >
    	UPDATE REGISTRATION SET 
    		STATUS 			= 	13 ,
    		ACTIVATEDATE	=	current_timestamp()
    	WHERE 
			ID	=	#{value}
    </update>
    
    
    <select id="get" parameterType="string" resultType="Registration">
    	SELECT 
			*
    	FROM REGISTRATION 
    	WHERE 	
    		ID	=	#{value}
    		AND STATUS	=	1
    </select>
	
	<select id="queryCompanyByShortName" parameterType="string" resultType="Companys">
		SELECT
			ID,
			SHORTNAME
		FROM
			COMPANYS
		WHERE
			SHORTNAME = #{value}
		UNION
		SELECT 
			ID,
			COMPANY SHORTNAME
		FROM 
			REGISTRATION
		WHERE 
			COMPANY	= #{value}	
	</select>
	
	<select id="queryUserInfoByEmail" parameterType="string" resultType="UserInfo">
		SELECT
			ID,
			EMAIL
		FROM
			USERINFO
		WHERE
			EMAIL = #{value}
		UNION
		SELECT 
			ID,
			WORKEMAIL EAMIL
		FROM
			REGISTRATION
		WHERE 
			WORKEMAIL = #{value}
	</select>
	
</mapper>