* { padding:0; margin:0; outline:0; }
body{
	margin: 0;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 0 0 0px;
	font-size: 14px;
	text-align:center;
	float:center;
	font-family: "Arial", "Helvetica", "Verdana", "sans-serif";
}

.form_title_bar{
	width: 100%;
	height: 36px;
  	text-align: left;
  	text-indent: 30px;
  	background-color: #f8f8f8;
}

.form_title_bar a {
  text-decoration: none;
  display: inline-block;
  height: 14px;
  color: #333;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 0;
  vertical-align: central;
}

#top{
	text-shadow: 0 1px 0 #fff;
	border-bottom: 1px solid #e5e5e5;
	align:left;
	min-height: 60px;
	margin-bottom: 5px;
}

#topNav{
	border-bottom: 1px solid #e5e5e5;
}

#navs{
	border-bottom: 1px solid #e5e5e5;
}



#nav_second{
	height:35px;
}

#nav_third{
	/*border-top: 1px solid #e5e5e5;*/
}

#topBar{
    min-height: 65px;
}

#topBar .grid_list_sel{
    width: 31px;
    height: 31px;
    border: 1px solid;
    border-color: #A9A9A9;
}

.container {
	margin-left: auto;
	margin-right: auto;
	padding: 0 10px
}

#main{
	min-height: 450px;
}
#mainFrame{
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	align:center;
}

#footer{
	text-shadow: 0 1px 0 #fff;
	border-top: 1px solid #e5e5e5;
	min-width: 100%;
	height:80px;
	margin-top: 5px;
}

#content{
	margin-top: 10px;
	min-height:480px;
	*height:480px;
	margin-bottom: 10px;
}

#otherlogins a {
    /* color: #007bff; */
    text-decoration: none; 
    background-color: transparent; 
}

#otherlogins a:hover {
    /* color: #0056b3; **/
   text-decoration: none; 
}

#tool_box {
	margin-bottom: 10px;
	border: 1px solid #e5e5e5;
}

#tool_box  .table td, #tool_box  .table th,.toolbox .table td, .tool_box  .table th{
    padding: 0.2rem;
    vertical-align: middle;
}

#tool_box_left {
	padding-left: 10px;
	float: left;
	height:30px;
	width:50%;
	text-align: left;
	border-right: 1px solid #e5e5e5;
}

#tool_box_right {
	height:32px;
	text-align: right;
	padding-right: 10px;
	width:484px;
}

#advanced_search {
	margin-top: 10px;
	min-height:30px;
	*height:40px;
	border: 1px solid #e5e5e5;
	margin-bottom: 10px;
	display: none;
}

#logout{
	width: 75px;
  	background: #c00 ;
  	color: #fff;
  	font-weight: bold;	
}

#myprofile{
	width: 75px;
	background-color: #2AA9A9;
	font-weight: bold;	
}

#changepassword{
	width: 75px;
	background-color: #f28018;
	font-weight: bold;	
}

#myprofile a,#logout a,#changepassword a{
	color: #fff;
	text-decoration: none;
}

/*switch_tab*/

.switch_tab{
	list-style: none;
	border: 0;
	cellspacing:0;
	padding-left: 0;
}

.switch_tab_class{
	float:left;
	height:36px;
	text-align: center;
	display: inline-block;
}

.switch_tab_class a{
	text-decoration: none;
	display: inline-block;
	height: 14px;
	color: #333;
	font-size: 14px;
	font-weight: bold;
	padding: 8px 0;
	vertical-align: central;
}

.switch_tab_current{
	background-color: #f3f6f7;;
	border-right: 1px solid #e3e3e3;
	border-bottom: 1px solid #e3e3e3;
}

.form_radio_label, .form_checkbox_label{
  display: inline-block;
  text-align: left;
  cursor: pointer;
  margin-right: 1em;
}

.icon_checkbox {
  background: url("../images/checkbox.png") 0 -83px no-repeat;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  display: inline-block;
  margin-top: -0.2em;
}

.icon_checkbox_selected{
  background: url("../images/checkbox.png") 0 -109px no-repeat;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  display: inline-block;
  margin-top: -0.2em;
}

.icon_radiobox {
  background: url("../images/checkbox.png") 0 -5px no-repeat;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  display: inline-block;
  margin-top: -0.2em;
}

.icon_radiobox_selected{
  background: url("../images/checkbox.png") 0 -31px no-repeat;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  display: inline-block;
  margin-top: -0.2em;
}
/* logins */

.logintableform{
	border: 1px solid #e9eeed;
	cellspacing:0;
}

.login_form_table{
	width:358px;
}

.login_form_table td,
.login_form_table th {
    height: 60px;
    vertical-align: middle;
    border-top: 1px solid #dee2e6;
}

#j_username,
#j_password,
#tfa_j_username,
#tfa_j_password,
#currentTime,
#mobile_j_username,
#mobile_j_password
{
	width	:250px;
	font-size: 14px;
	font-weight: bold;
	height: 40px;
}

#j_captcha{
	width	:160px;
	font-size: 14px;
	font-weight: bold;
}

#tfa_j_otp_captcha,#mobile_j_password{
	width	:120px;
	font-size: 14px;
	font-weight: bold;	
}

.login_form_table #j_captchaimg{
    width: 100px;
    height: 40px;
    vertical-align: top;
}

#normalLogin,#tfaLogin,#mobileLogin,#qrcodelogin{
	
}

#div_tfaLogin , #div_mobileLogin{
	display: none;
}

.login_button{
	width:80%;
}
#register{
	font-size: 14px;
	font-weight: bold;
	height: 33px;
	color: white;
	background-color: #4D4E54;
}
#register a{
	font-weight: bold;
	color: white;
	text-decoration-line: none;
}

.login_error_message{
	height:37px;
	background-color: #FFE5E5;
	font-weight: bold;
}

.table > :not(:first-child) {
	border-color: #dee2e6;
}

.float-right{
	float: right;
}

.float-left{
    float: left;
}

#div_normalLogin .wrapper ,
#div_tfaLogin .wrapper ,
#div_mobileLogin .wrapper{ 
	position: relative; 
}


.login_form_table  .wrapper .input-group{
	width:90%;
}

#div_normalLogin .wrapper input,
#div_tfaLogin .wrapper input,
#div_mobileLogin .wrapper input { 
    text-indent: 46px;
}
	
#div_normalLogin .wrapper i.fa,
#div_tfaLogin .wrapper i.fa,
#div_mobileLogin .wrapper i.fa{ 
	position: absolute; 
	top: 6px; 
	left: 16px; 
	font-size: 24px; 
	color: black;
	z-index: 20;
}

#tfa_j_otp_button,#mobile_j_otp_button{
    width   :130px;
    height: 40px;
    font-size: 14px;
    font-weight: bold;  
    text-indent: 1px;
}

.appListGrid {
	min-width: 160px;
	min-height: 170px;
}

.appListGrid table{
    min-width: 150px; 
    min-height: 150px;
    border-spacing: 0;
    border-collapse: collapse;
    margin: auto;
}

.appListGrid table td{
    text-align: center;
    border-spacing: 0;
    border-collapse: collapse;
    border:1px solid #e1e5e8;
    box-shadow: 0 0 12px 0 rgb(0 15 32 / 10%);
}

.appListGrid table td:hover{
    text-align: center;
    border-spacing: 0;
    border-collapse: collapse;
    border:1px solid #e1e5e8;
    box-shadow: 2px 2px 2px #8f8c8c;
}

.appListTable {
}

.appListTable td{
    word-wrap:break-word;
    vertical-align: middle;
}

.appListimage{
	width:65px;
	height:65px;
	border:0;
}

#otherlogins{
    margin-top: -14px;
}