/**/
#nav_primary{
    background: #721170;
}

/*navMenu menu dropdown*/
ul.navMenu {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  /*max-width: 70%;*/
  margin: 0 auto;
  padding: 0;
  list-style: none;
  background: #721170;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
ul.navMenu > li {
  position: relative;
  flex-grow: 1;
  flex-shrink: 0;
  height: 45px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  line-height: 45px;
  letter-spacing: 1px;
  color: #e7e6f1;
  cursor: pointer;
  border-right: 1px solid white;
}
ul.navMenu > li:hover {
  background: #63065f;
}
ul.navMenu > li:hover ul.dropdown {
  visibility: visible;
  transform: translate(0, 0);
  opacity: 1;
  z-index: 1000;
}
ul.navMenu > li:hover ul.dropdown > li {
  -webkit-animation-name: slideInLeft;
          animation-name: slideInLeft;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}
ul.navMenu > li:first-child {
  /*border-top-left-radius: 6px;*/
  border-left: 1px solid white;
}
ul.navMenu > li:last-child {
  /*border-top-right-radius: 6px;*/
  border-right: 1px solid white;
}

ul.navMenu > li a {
    display: block;
    color: white;
    text-decoration: none;
    height: 40px;
    font-size: 13px;
    font-weight: bold;
}

ul.navMenu > li a {
    /*IE6 hack to get sub menu links to behave correctly*/
    display: inline-block;
}

ul.navMenu > li a:link,ul.navMenu > li a:visited {
    color: white;
}

ul.navMenu > li a.selected {
    /*CSS class that's dynamically added to the currently active menu items' LI A element*/
    color: white;
}

ul.navMenu > li a:hover {
    /*background of menu items during onmouseover (hover state)*/
    color: white;
}

ul.navMenu > li ul.dropdown {
  visibility: hidden;
  display: flex;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  flex-direction: column;
  margin: 0;
  padding: 5px 0 0px;
  list-style: none;
  color: #333;
  background: #721170;
  /*
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  */
  box-shadow: 1px 2px 5px -1px rgba(0, 0, 0, 0.15), 0px 4px 14px -1px rgba(0, 0, 0, 0.1);
  transform: translate(0, -60px);
  transition: transform 0.2s ease-out, opacity 0.2s, z-index 0s 0.2s;
  opacity: 0;
  z-index: -1;
}
ul.navMenu > li ul.dropdown > li {
  font-size: 14px;
  cursor: pointer;
  border-top: 1px solid white;
}
ul.navMenu > li ul.dropdown > li:hover {
  background: #63065f;
}

@-webkit-keyframes slideInLeft {
  from {
    transform: translate(-25%, 0);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes slideInLeft {
  from {
    transform: translate(-25%, 0);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}