<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.connsec.dao.persistence.AppCategorysMapper">

	<sql id="where_statement">
    	<if test="id != null and id != ''">
			AND	ID	=	#{id}
		</if> 
		<if test="name != null and name != ''">
			AND NAME LIKE '%${name}%'
		</if>
    </sql>
    
	<insert id="insert" parameterType="AppCategorys">
		INSERT INTO APP_CATEGORY(
			ID,
			NAME,
			SORTORDER,
			DESCRIPTION,
			
			CREATEDBY,
			CREATEDDATE,
			MODIFIEDBY,
			MODIFIEDDATE,
			
			STATUS
		)VALUES(
			#{id},
			#{name},
			#{sortOrder},
			#{description},
			
			#{createdBy},
			#{createdDate} ,
			#{modifiedBy},
			#{modifiedDate},
			
			#{status}
		)
	</insert>
	
	<select id="query" parameterType="AppCategorys" resultType="AppCategorys">
		SELECT
			*
		FROM
			APP_CATEGORY
		WHERE
			 (1=1)	
		<include refid="where_statement"/>
		ORDER BY SORTORDER 
	</select>
	
	<select id="grid" parameterType="AppCategorys" resultType="AppCategorys">
		SELECT
			*
		FROM
			APP_CATEGORY
		WHERE
			 (1=1)	
		<include refid="where_statement"/>
		ORDER BY SORTORDER 
	</select>
	
	<select id="count" parameterType="AppCategorys" resultType="java.lang.Integer">
		SELECT
			COUNT(*) 
		FROM
			APP_CATEGORY
		WHERE
			 (1=1)	
		<include refid="where_statement"/>
	</select>
	
	<select id="get" parameterType="string" resultType="AppCategorys">
    	SELECT 
			*
    	FROM APP_CATEGORY 
    	WHERE 	
    		ID	=	#{value}
    </select>
    
	
	
	<select id="load" parameterType="AppCategorys" resultType="AppCategorys">
		SELECT
			*
		FROM
			APP_CATEGORY
		WHERE
			 (1=1)	
		<include refid="where_statement"/>
	</select>
	
	<update id="update" parameterType="AppCategorys" >
    	UPDATE APP_CATEGORY SET
			NAME			=	#{name},
			SORTORDER		=	#{sortOrder},
			DESCRIPTION		=	#{description},
			STATUS 			=	#{status},
			MODIFIEDBY		=	#{modifiedBy},
			MODIFIEDDATE	=	#{modifiedDate}
    	WHERE 	ID		=	#{id}
    </update>
    
    
	<update id="logisticDelete" parameterType="AppCategorys" >
    	UPDATE APP_CATEGORY SET
    		STATUS	=	'2'  
    	WHERE	1	=	1
    	<if test="id != null">
			AND	ID	=	#{id}
		</if>
		<if test="name != name">
			ADN	NAME	=	#{name}
		</if>
    </update>
    
    <delete id="delete" parameterType="AppCategorys" >
    	DELETE FROM APP_CATEGORY WHERE ID=#{id}
    </delete>
    
    <update id="logisticBatchDelete" parameterType="java.util.List">
    	UPDATE APP_CATEGORY SET STATUS='2' WHERE ID IN
    		<foreach item="item" collection="list" open="(" separator="," close=")">
				#{item}
    		</foreach>
    </update>
    
    <delete id="batchDelete" parameterType="java.util.List">
    	DELETE FROM APP_CATEGORY WHERE ID IN
    		<foreach item="item" collection="list" open="(" separator="," close=")">
				#{item}
    		</foreach>
    </delete>
</mapper>