<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.connsec.dao.persistence.CompanysMapper">

	<insert id="insert" parameterType="Companys">
		INSERT INTO COMPANYS(
			ID,
			SHORTNAME,
			FULLNAME,
			DIVISION ,
			
			REPRESENTATIVE,
			CATEGORY,
			WEBSITE,
			PHONE ,
			EMAIL ,
			FAX,
			POSTALCODE,
			LICENSE,
			CREATIONDATE,
			
			
			COUNTRY ,
			REGION ,
			LOCALITY ,
			STREET ,
			
			DESCRIPTION,
			
			CREATEDBY,
			CREATEDDATE,
			
			STATUS
		)VALUES(
			#{id},
			#{shortName},
			#{fullName},
			#{division} ,
			#{representative},
			#{category} ,
			#{webSite} ,
			#{phone},
			#{email},
			#{fax},
			#{postalCode},
			#{license},
			#{creationDate},
			
			#{country} ,
			#{region} ,
			#{locality} ,
			#{street},
			
			#{description},
			
			#{createdBy},
			#{createdDate} ,
			
			#{status}
		)
	</insert>
	
	<update id="update" parameterType="Companys" >
    	UPDATE COMPANYS SET
			SHORTNAME		=	#{shortName},
			FULLNAME		=	#{fullName},
			DIVISION 		=	#{division},
			
			REPRESENTATIVE	=	#{representative},
			CATEGORY		=	#{category},
			WEBSITE			=	#{webSite},
			PHONE 			=	#{phone},
			EMAIL 			=	#{email},
			FAX				=	#{fax},
			POSTALCODE		=	#{postalCode},
			LICENSE			=	#{license},
			CREATIONDATE	=	#{creationDate},
			
			
			COUNTRY 		=	#{country},
			REGION	 		=	#{region},
			LOCALITY 		=	#{locality},
			STREET 			=	#{street},
			
			DESCRIPTION		=	#{description},

			MODIFIEDBY		=	#{modifiedBy},
			MODIFIEDDATE	=	current_timestamp,
			
			STATUS			=	#{status}
			
    	WHERE 1 = 1 
    	<if test="id != null and id != ''">
			AND	ID	=	#{id}
		</if> 
    </update>
	
	<select id="query" parameterType="Companys" resultType="Companys">
		SELECT
			*
		FROM
			COMPANYS
		WHERE
			 (1=1)	
		<if test="shortName != null and shortName != ''">
			AND SHORTNAME = #{shortName}
		</if>
	</select>
	
	<select id="grid" parameterType="Companys" resultType="Companys">
		SELECT
			*
		FROM
			COMPANYS
		WHERE
			 (1=1)	
		<if test="shortName != null and shortName != ''">
			AND SHORTNAME = #{shortName}
		</if>
	</select>
	
	<select id="count" parameterType="Companys" resultType="java.lang.Integer">
		SELECT
			COUNT(*) 
		FROM
			COMPANYS
		WHERE
			 (1=1)	
		<if test="shortName != null and shortName != ''">
			AND SHORTNAME = #{shortName}
		</if>
	</select>
	
	
	
	<select id="load" parameterType="Companys" resultType="Companys">
		SELECT
			*
		FROM
			COMPANYS
		WHERE
			 (1=1)	
		<if test="shortName != null and shortName != ''">
			AND SHORTNAME = #{shortName}
		</if>
		<if test="id != null and id != ''">
			AND ID = #{id}
		</if>
	</select>
	
	<select id="get" parameterType="string" resultType="Companys">
		SELECT
			*
		FROM
			COMPANYS
		WHERE
			 ID = #{value}
	</select>
</mapper>