<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.connsec.dao.persistence.ForgotPasswordMapper">

	<select id="queryUserInfoByEmail" parameterType="string" resultType="UserInfo">
		SELECT
			*
		FROM
			USERINFO
		WHERE
			EMAIL = #{value}
	</select>
	
	<insert id="insert" parameterType="ForgotPassword">
		INSERT INTO FORGOT_PASSWORD(
			ID,
			UID,
			USERNAME,
			EMAIL,
			
			CREATEDDATE,
			STATUS
		)VALUES(
			#{id},
			#{uid},
			#{username},
			#{email},
			
			current_timestamp(),
			1
		)
	</insert>
    
    <update id="remove" parameterType="ForgotPassword" >
    	DELETE FROM
    		 FORGOT_PASSWORD 
    	WHERE 
			ID	=	#{id}
    </update>
	
	 <select id="get" parameterType="string" resultType="ForgotPassword">
    	SELECT 
			*
    	FROM FORGOT_PASSWORD 
    	WHERE 	
    		ID	=	#{value}
    		AND STATUS	=	1
    </select>
	
</mapper>