<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.connsec.dao.persistence.FormBasedDetailsMapper">

	<insert id="insert" parameterType="FormBasedDetails">
		INSERT INTO FORM_BASED_DETAILS(
			ID,
			REDIRECTURI,
			USERNAMEMAPPING,
			PASSWORDMAPPING,
			AUTHORIZEVIEW
			
		)VALUES(
			#{id},
			#{redirectUri},
			#{usernameMapping},
			#{passwordMapping},
			#{authorizeView}
		)
	</insert>
	
	<update id="update" parameterType="FormBasedDetails" >
    	UPDATE FORM_BASED_DETAILS SET
    		REDIRECTURI		=	#{redirectUri},
			USERNAMEMAPPING	=	#{usernameMapping},
			PASSWORDMAPPING	=	#{passwordMapping},
			AUTHORIZEVIEW	=	#{authorizeView}
			
		WHERE 
			ID	=	#{id}
    </update>
	
	<select id="get" parameterType="string" resultType="FormBasedDetails">
    	SELECT 
			*
    	FROM 
    		FORM_BASED_DETAILS FBD,
    		APPLICATIONS APP
    	WHERE 	
    		APP.ID	=	#{value}
    		AND FBD.ID	=	#{value}
    		AND FBD.ID	=	APP.ID
    		AND STATUS	=	1
    </select>
    
  	<select id="getSassTemplet" parameterType="string" resultType="FormBasedDetails">
    	SELECT 
			*
    	FROM 
    		FORM_BASED_DETAILS FBD,
    		SAAS_APP_TEMPLET APP
    	WHERE 	
    		APP.ID	=	#{value}
    		AND FBD.ID	=	#{value}
    		AND FBD.ID	=	APP.ID
    		AND STATUS	=	1
    </select>
	
	<delete id="remove" parameterType="string" >
    	DELETE FROM FORM_BASED_DETAILS WHERE ID=#{value}
    </delete>
</mapper>