<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.connsec.dao.persistence.ResourcesMapper" >

	<sql id="dao_where_statement">
    	<if test="id != null and id != ''">
			AND	ID	=	#{id} 	
		</if> 
		<if test="name != null and name != '' ">
			AND	NAME	like	'%#{name}%'
		</if>
		<if test="pId != null and pId != '' ">
			AND	PID	=	#{pId}
		</if>
		<if test="pName != null and pName != ''">
			AND	PNAME	like	'%#{pName}%'
		</if>

    </sql>
	
    <select id="query" parameterType="Resources" resultType="Resources">
    	SELECT 
			*
    	FROM RESOURCES 
    	WHERE	1	=	1
    	<include refid="dao_where_statement"/>
    	ORDER BY  PID, SORTORDER 
    </select>
    
     <select id="grid" parameterType="Resources" resultType="Resources">
    	SELECT 
			*
    	FROM RESOURCES 
    	WHERE	1	=	1
    	<include refid="dao_where_statement"/>
    </select>
    
     <insert id="insert" parameterType="Resources">
     	INSERT INTO 
	   		RESOURCES 
	   	(  
	   		ID ,
		  	NAME ,
		  	RESTYPE,
		  	RESACTION ,
		  	RESTARGET ,
		  	XPATH ,
		  	WIDTH ,
		  	HEIGHT ,
		  	PID ,
		  	PNAME ,
		  	SORTORDER,
		  	
		  	DESCRIPTION ,
		  	STATUS ,
		  	CREATEDBY,
		  	CREATEDDATE
		)
    	VALUES	
    	(  
    		#{id},
			#{name},
			#{resType},
			#{resAction},
			#{resTarget},
			#{xpath},
			#{width},
			#{height},
			#{pId},
			#{pName},
			#{sortOrder},
			
			#{description},
			#{status},
			#{createdBy},
			current_timestamp
		)
     </insert>
     
    <select  id="count" resultType="java.lang.Integer">
    	SELECT COUNT(*) FROM RESOURCES
    	WHERE	1	=	1
    	<include refid="dao_where_statement"/>
    </select>
    
    <update id="update" parameterType="Resources" >
    	UPDATE RESOURCES SET
		  	NAME 			=	#{name},
		  	RESTYPE			=	#{resType},
		  	RESACTION 		=	#{resAction},
		  	RESTARGET 		=	#{resTarget},
		  	XPATH 			=	#{xpath},
		  	WIDTH 			=	#{width},
		  	HEIGHT 			=	#{height},
		  	PID 			=	#{pId},
		  	PNAME 			=	#{pName},
		  	SORTORDER		=	#{sortOrder},

		  	DESCRIPTION 	=	#{description},
		  	STATUS 			=	#{status},
			MODIFIEDBY		=	#{modifiedBy},
			MODIFIEDDATE 	=	current_timestamp
			
    	WHERE 1 = 1 
    	<if test="id != null and id != ''">
			AND	ID	=	#{id}
		</if> 
    </update>
    
    <update id="logisticDelete" parameterType="Resources" >
    	UPDATE RESOURCES SET STATUS	=	'2'  
    		WHERE	1	=	1
    	<if test="id != null and id != '' ">
			AND	ID	=	#{id}
		</if>
		<if test="name != name">
			ADN	NAME	=	#{name}
		</if>
		<if test="enable != null">
			ADN	STATUS	=	'1'
		</if>
		<if test="xPath != null">
			ADN	XPATH	=	#{xPath}
		</if>
    </update>
    
    <update id="logisticBatchDelete" parameterType="java.util.List">
    	UPDATE RESOURCES SET STATUS	=	'2'  
    		 WHERE ID IN
		<foreach collection="ids" item="selectId"  open="(" separator="," close=")">  
        	#{selectId}   
     	</foreach>
    </update>
    
    <delete id="delete" parameterType="Resources" >
    	DELETE FROM RESOURCES WHERE 1 = 1 	AND
			(
				ID	=	#{id} 
				OR  PID =	#{id} 
				OR  XPATH  LIKE 	'%${id}%' 
			)
    </delete>
    
  
</mapper>