<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.connsec.dao.persistence.Saml20DetailsMapper">

	<insert id="insert" parameterType="SAML20Details">
		INSERT INTO SAML_V20_DETAILS(
			ID,
			CERTISSUER,
			CERTSUBJECT,
			CERTEXPIRATION,
			KEYSTORE,
			SPACSURL,
			ISSUER,
			ENTITYID,
			AUDIENCE,
			VALIDITYINTERVAL,
			NAMEIDFORMAT,
			ENCRYPTED,
			BINDING,
			NAMEIDCONVERT
		)VALUES(
			#{id},
			#{certIssuer},
			#{certSubject},
			#{certExpiration},
			#{keyStore},
			#{spAcsUrl},
			#{issuer},
			#{entityId},
			#{audience},
			#{validityInterval},
			#{nameidFormat},
			#{encrypted},
			#{binding},
			#{nameIdConvert}
		)
	</insert>
	
	<update id="update" parameterType="SAML20Details" >
    	UPDATE SAML_V20_DETAILS SET
    		<if test="keyStore != null">
			CERTISSUER			=	#{certIssuer},
			CERTSUBJECT			=	#{certSubject},
			CERTEXPIRATION		=	#{certExpiration},
			KEYSTORE			=	#{keyStore},
			</if>
			SPACSURL			=	#{spAcsUrl},
			ISSUER				=	#{issuer},
			ENTITYID			=	#{entityId},
			AUDIENCE			=	#{audience},
			VALIDITYINTERVAL	=	#{validityInterval},
			NAMEIDFORMAT		=	#{nameidFormat},
			ENCRYPTED 			=	#{encrypted},
    		BINDING				=	#{binding},
    		NAMEIDCONVERT		=	#{nameIdConvert}
		WHERE 
			ID	=	#{id}
    </update>
	
	<select id="get" parameterType="string" resultType="SAML20Details">
    	SELECT 
    		SVD.CERTISSUER,
    		SVD.CERTSUBJECT,
    		SVD.CERTEXPIRATION,
    		SVD.KEYSTORE,
    		SVD.SPACSURL ,
    		SVD.ISSUER,
    		SVD.ENTITYID,
    		SVD.AUDIENCE,
    		SVD.VALIDITYINTERVAL ,
    		SVD.NAMEIDFORMAT,
    		SVD.ENCRYPTED,
    		SVD.BINDING,
    		SVD.NAMEIDCONVERT,
			APP.*
    	FROM 
    		SAML_V20_DETAILS SVD,
    		APPLICATIONS APP
    	WHERE 	
    		APP.ID			=	#{value}
    		AND SVD.ID		=	#{value}
    		AND SVD.ID		=	APP.ID
    		AND APP.STATUS	=	1
    </select>
    
    <select id="getSassTemplet" parameterType="string" resultType="SAML20Details">
    	SELECT 
    		SVD.CERTISSUER,
    		SVD.CERTSUBJECT,
    		SVD.CERTEXPIRATION,
    		SVD.KEYSTORE,
    		SVD.SPACSURL ,
    		SVD.ISSUER,
    		SVD.ENTITYID,
    		SVD.AUDIENCE,
    		SVD.VALIDITYINTERVAL ,
    		SVD.NAMEIDFORMAT,
    		SVD.ENCRYPTED,
    		SVD.BINDING,
    		SVD.NAMEIDCONVERT,
			APP.*
    	FROM 
    		SAML_V20_DETAILS SVD,
    		SAAS_APP_TEMPLET APP
    	WHERE 	
    		APP.ID			=	#{value}
    		AND SVD.ID		=	#{value}
    		AND SVD.ID		=	APP.ID
    		AND APP.STATUS	=	1
    </select>
	
	<delete id="remove" parameterType="string" >
    	DELETE FROM SAML_V20_DETAILS WHERE ID=#{value}
    </delete>
</mapper>