@charset "utf-8";
/*base */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, p, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0px;
	padding: 0px;
	border: 0px none;
	font-family: Arial, Helvetica, sans-serif, "宋体";
	vertical-align: baseline;
}
a {
	text-decoration:none;
}
a img {
	border: none
}
h1, h2, h3, h4, h5, h6 {
	font-family:"微软雅黑";
	font-weight:bold;
}
.clear {
	clear:both;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: ""
}
blockquote, q {
	quotes: "" ""
}
ul li{ list-style:none;}
body {
	background:url(../images/body-bg.gif) no-repeat #e2e2d9;
	
}

