	
/* =========== A (linkage) ============ */

a {
	color: #730049;
	text-decoration: none;
}

a:hover {
	color: #730049;
	text-decoration: underline;
}

/* =========== Accordion ============ */

.accordion {
    margin-top: 10px;
    margin-bottom: 10px;
}

.accordion-group {
    border: none;
    margin-bottom: 0px;
}

.accordion-group .according-body {
	border-bottom: 1px solid #EEE;
}

/* =========== Bottom Action ============ */
.bottom-action {
	margin-top: 10px;
	border-top: 1px solid #E0E1E3;	
}

.bottom-action p {
	margin-top: 10px;
}
/* =========== Body ============ */

body {
    color: #2E3337;
    font-family: Verdana,Microsoft YaHei,SimSun,Arial,sans-serif;
    font-size: 12px;
    line-height: inherit;
}


/* =========== Breadcrumb ============ */

.breadcrumb {
    background-color: #EEEEEE;
    border-radius: 0 0 0 0;
    list-style: none outside none;
    margin: 0px;
    padding: 5px 10px;
}

.breadcrumb > li {
    text-shadow: none;
}

.breadcrumb > .active {
    color: #2E3337;
}

.breadcrumb > li > .divider {
    color: #808A90;
    padding: 0 ;
}

/* =========== Button ============ */

.btn {
	background-color: #730049;
	background-image: none;
    border: medium none;
    border-radius: 0px;
    box-shadow: none;
    color: #FFF;
	font-size: 12px;
    line-height: 15px;
	margin: 0px;
    transition: all 0.25s ease 0s;
	padding: 4.5px 6px;
	padding: 5px 6px \9;  /* IE-8/9 */
	*padding: 5px 6px;   /* IE-7 */
}

button.btn {
	padding: 5px 6px;
}

.btn:hover {
	background-color: #730049;
	opacity:0.8;
}
.btn.active {
	color: #FFF;	
}

/* Button Disabled */

.btn.disabled, .btn[disabled] {
	background-color: #E0E1E3;
	opacity: 0.5 !important;
}

.btn.disabled:hover, .btn[disabled]:hover {
	opacity: 0.5 !important;
}


/* Button Group */
.btn-group .btn.dropdown-toggle:hover {
	opacity: 0.8;
}

.btn-group.open .btn.dropdown-toggle {
    background-color: #730049;
    color: #FFF;
	opacity: 0.8;
}

.btn-group + .btn-group {
	margin-left: 0px;	
}

.btn-group > .btn {
	font-size: 12px;
	height: inherit;
	line-height: inherit;
	background-color: #730049;
}

.btn-group > .btn:first-of-type {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}

.btn-group > .btn:last-of-type {
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}

/* Button Query & Dropdown */

.btn.btn-query {
	background-color: #828A90;
}
.btn.btn-dropdown {
	background-color: #828A90;
}


/* Button: Standard, Reverse, Action, Highlight */

.btn.btn-reverse-icon {
	background-color: #2E3337;
}
.btn.btn-action-icon {
	background-color: #828A90;
}
.btn.btn-highlight-icon {
	background-color: #008080;
}

.btn-standard, .btn-reverse, .btn-action, .btn-highlight {
	padding: 0px;
	background-color: transparent !important;
}

.btn-standard:hover, .btn-revers:hover, .btn-action:hover, .btn-highlight:hover {
	background-color: transparent !important;
}

.btn span:first-child {
	float:left; 
	width: 6px;  
    height: 25px;
    cursor: pointer;
}

.btn span.bg-right {  
    float:left;
    padding: 0 10px 0 5px;  
	vertical-align: middle;  
    height: 25px;
	line-height: 25px;
    color:#FFF;   
    cursor: pointer; 
}

/* Left Side */
.btn.btn-standard span:first-child {
	background-image: url("../img/connsec-btn/standard-left.png"); 
}  
.btn.btn-reverse span:first-child {
	background-image: url("../img/connsec-btn/reverse-left.png"); 
}
.btn.btn-action span:first-child {
	background-image: url("../img/connsec-btn/action-left.png"); 
}
.btn.btn-highlight span:first-child {
	background-image: url("../img/connsec-btn/highlight-left.png"); 
}

/* Right Side */
.btn.btn-standard span.bg-right {
	background-color: #730049;
}
.btn.btn-reverse span.bg-right {
	background-color: #2E3337;
}
.btn.btn-action span.bg-right {
	background-color: #828A90;
}
.btn.btn-highlight span.bg-right {
	background-color: #008080;
}

/* =========== Caret ============ */
.caret {
	border-top-color: #FFF;
    transform: none;
}

.btn .caret {
    margin-top: 4px;
    padding-bottom: 4px;
}

table .caret {
	border-top-color: #730049;
	opacity: 0.3;
}

table .dropdown .caret {
    margin-left: 0px;
    margin-top: 6px;
}

table .dropdown:hover .caret {
	opacity: 1.0;
}


/* =========== Checkbox ============ */

.checkbox {
    margin-bottom: 0;
    padding-left: 10px;
}

.checkbox .icons {
    color: #E0E1E3;
    font-size: 15px;
    line-height: 25px;
	height: 25px;
	width: auto;
}

.control-group label.checkbox {
	float: left;
}

.table-list .checkbox .icons {
    line-height: 15px;
	height: 15px;
}
tr:hover .checkbox .icons {
    color: #FFF;
}

tr:hover .checkbox .icons:hover {
    color: #730049;
	opacity: 0.3;
}

.checkbox.checked .icons, tr:hover .checkbox.checked .icons {
    color: #730049;
	opacity: 1.0;
}

/* ======== Control-group / control-label / controls ========== */

.control-group {
	display: inline-block;
}

.control-small-label, .control-middle-label, .control-large-label {
    float: left;
    font-size: inherit;
	font-weight: bold;
    text-align: right;
	color: #828A90;
    height: 15px;
    line-height: 15px;
    margin-right: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}
.control-small-label {
    width: 80px;
}
.control-middle-label {
    width: 110px;
}
.control-large-label {
    width: 200px;
}

.form-horizontal .control-group {
    margin-bottom: 5px;
}

.form-horizontal .control-middle-label {
    width: 100px;
}

.form-horizontal .control-middle-label span.required {
	color: #008080;
}
.form-horizontal .controls {
    margin-left: 105px;
}

.form-horizontal .controls span {
	display: inline-block;
	width: 5px;
	color: #E0E1E3;
	text-align: center;
	font-weight: bold;
}

.form-horizontal .span6 .control-middle-label, .form-horizontal.span6 .control-middle-label {
    width: 170px;
}
.form-horizontal .span6 .controls, .form-horizontal.span6 .controls {
    margin-left: 175px;
}

.modal .form-horizontal .control-middle-label {
    width: 170px;
}
.modal .form-horizontal .controls {
    margin-left: 175px;
}

/* =========== Dropdown-menu ============ */
.dropdown-menu {
	background-color: rgba(0,0,0,0.8);
	color: #FFF;
    border-radius: 0 0 2px 2px;
	min-width: 130px;
	width: auto;
}

.dropdown-menu li > a {
    color: #E0E1E3;
	padding: 5px 10px;
	font-size: 11px;
}

.dropdown-menu li:first-child > a {
    border-radius: 0;
    padding: 5px 10px;
}

.dropdown-menu li:last-child > a {
    border-radius: 0 0 2px 2px;
    padding: 5px 10px;
}

.dropdown-menu li > a:hover {
    background-color: #E0E1E3;	
    color: #730049;
}

.dropdown-menu li.active > a, .dropdown-menu li.selected > a, .dropdown-menu li.active > a.highlighted, .dropdown-menu li.selected > a.highlighted {
    background-color: #730049;
    color: #FFFFFF;
}

.dropdown-menu li.active > a:hover, .dropdown-menu li.selected > a:hover, .dropdown-menu li.active > a.highlighted:hover, .dropdown-menu li.selected > a.highlighted:hover {
    background-color: #E0E1E3;
    color: #730049;
}

.nav-tabs .dropdown-menu {
	border-radius: 0 0 2px 2px;
}

.nav-tabs .active .dropdown-toggle .caret {
    border-top-color: #828A90;
	opacity: 1.0;
}

.nav-tabs .dropdown-toggle .caret {
    margin-top: 6px;
	border-top-color: #CCC;
}

.nav-tabs .dropdown-toggle:hover .caret {
	border-top-color: #FFF;
}

.nav li.dropdown.open .caret, .nav li.dropdown.open.active .caret, .nav li.dropdown.open a:hover .caret, .nav li.dropdown.open a:focus .caret {
	border-top-color: #828A90;
}

.nav-tabs .open .dropdown-toggle, .nav > li.dropdown.open.active > a:hover, .nav > li.dropdown.open.active > a:focus {
    background-color: #FFF;
    border-color: #FFF;
    color: #828A90;
}

.open > .dropdown-menu {
    margin-top: 0px;
}

.table-list td .dropdown ul.dropdown-menu {
    margin-top: 8px;
	margin-right: -2px;
}

/* ======== Form ========== */

form {
    margin: 0px;
}


/* ======== Icon ========== */

[class^="icon-"], [class*=" icon-"] {
    margin-top: 0;
}

.btn-group .btn [class^="icon-"], .btn-group .btn [class*=" icon-"] {
	margin-top: 1px;
}

.btn-standard.btn [class^="icon-"], .btn-standard.btn [class*=" icon-"] {
	margin-top: 1px;
}

.input-append .btn [class^="icon-"], .input-append .btn [class*=" icon-"] {
	margin-top: -1px;
}
/* ======== Input & Textarea ========== */

input, input[type], textarea {
    display: inline-block;
    background-color: #FFF;
    border: none;
    border-radius: 2px/*4px*/;
    box-shadow: none;
    color: inherit;
	font-family: inherit;
    font-size: 14px;
	text-indent: 5px;
    padding: 5px 0;
	height: 25px;
	line-height: 25px;
    margin-bottom: 15px;
} 

input[type]:focus, textarea[type]:focus {
	border-color: rgba(115,0,73,0.7);
}

input[type="checkbox"]{
	display: none;
}

/* input placeholder */
input::-webkit-input-placeholder{
    color:red;
    font-size: 0.85em;
}
input::-moz-placeholder{
    color:#828A90;
    font-size: 0.85em;
}

/* input readonly & disable */
input[readonly], textarea[readonly] {
    background-color: #EEE;
    border: 2px solid #E0E1E3;
	color: #828A90;
	opacity: 0.8;
	cursor: not-allowed;
}
input[readonly]:focus, textarea[readonly]:focus {
    border: 2px solid #E0E1E3;
}
input[disabled], textarea[disabled] {
    background-color: #EEE;
    border: 2px solid #E0E1E3;
	color: #828A90;
	opacity: 0.8;
	cursor: not-allowed;
}
input[disabled]:focus, textarea[disabled]:focus {
    border: 2px solid #E0E1E3;
}

/* input series */
.input-mini {
    width: 66.5px;
}
.input-small {
    width: 80px;
}
.input-medium {
    width: 150px;
}
.input-large {
    width: 270px;
}

/* ======== input-append & input-prepend ========== */

.input-append, .input-prepend {
    margin-bottom: 0px;
}

/* ======== Label ========== */
label {
    margin-bottom: 0;
    display: inline-block;
}

/* =========== Modal ============ */
.modal.fade.in {
    top: 18%;
}
.modal {
    border-radius: 0 0 0 0;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
	width: auto;
	min-width:560px;
	max-width:960px;
}

.modal-header {
    border-bottom: none/*1px solid #E0E1E3*/;
    padding: 0;
	background-color: #828A90;
	color: #FFF;
}

.modal-header .close {
	background-color: #730049;
    color: #FFFFFF;
    float: right;
    font-size: 30px;
    font-weight: 100;
    height: 20px;
    width: 20px;
    margin-top: 0;
	margin-right: 20px;
    opacity: 1.0;
    text-shadow: none;
}

.modal-header h4 {
    font-size: 12px;
	font-weight: bold;
    line-height: 20px;
    margin: 0 0 0 20px;
}

.modal-footer {
	background-color: #FFF;
    border-radius: 0 0 0 0;
    border-top: 1px solid #E0E1E3;
	padding: 5px 20px;
}

.modal-body {
    min-height: 200px;
    overflow-y: auto;
    padding: 10px 20px 5px;
    position: relative;
}

.modal-body .nav-tabs {
    border-bottom: 1px solid #E0E1E3;
}


/* =========== Nav / Nav-tabs ============ */
.nav-tabs {
    margin-bottom: 0px;
	border-bottom: 2px solid #E0E1E3;
}

.nav-tabs > li {
    margin-bottom: 0px;
}

.nav-tabs > li > a {
	color: #CCC;
	background-color: #FFF;
    padding: 5px 8px;
	border-radius: 2px 2px 0 0;
	font-weight: bold;
}

.nav-tabs > li > a:hover {
	color: #FFF;
	background-color: #828A90;
	border: 1px solid #828A90;
    border-radius: 2px 2px 0 0;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover  {
	border: 1px solid #FFF;
	color: #828A90;
	font-weight: bold;
	outline: none;
}

.nav-tabs .open .dropdown-toggle, .nav > li.dropdown.open.active > a:hover{
	background-color: #FFF;
	border: 1px solid #FFF;
	color: #828A90;	
}

/* =========== P ============ */
p {
    margin: 0px;
}

/* =========== Pagination ============ */

/* pagination ul */
.pagination {
    margin: 0px;
	background-color: #EEE;
}

.pagination ul {
	background-color: transparent;
    border: none;
}

.pagination ul li {
	margin-right: -5px;
}

.pagination ul li > a {
    background-color: #EEE;
    border: none;
    color: rgba(115,0,73,0.5);
    line-height: 25px;
    height: 25px;
    margin: 0;
    padding: 0 5px;
	border-radius: 0px !important;
}

.pagination ul li > a:hover, .pagination ul li > a:focus{
	color: #FFF;
	background-color: #730049;
}

.pagination ul li.active > a {
    background-color: #EEE;
    color: #828A90;
	border: none;
    margin: 0px;
	font-weight: bold;
}

.pagination ul li.active > a:hover, .pagination ul li.active > a:focus {
    background-color: #EEE;
    color: #828A90;
}

/* pagination label */
.pagination label {
    height: 25px;
    line-height: 25px;
	border-radius: 0px;
	background-color: transparent;
	color: #828A90;
	font-size: 12px;
	font-weight: normal;
	text-shadow: none;
	padding: 0 0 0 10px;
}

.pagination label.label-summary {
	padding-right: 10px;
}

.pagination label.label-summary span {
	font-weight: bold;
}

/* pagination input */
.pagination input {
	height: 15px;
	line-height: 15px;
	border-radius: 0px;
	width:50px;	
}

.pagination .input-append {
	margin-top: -3px;
}

.pagination .input-append .add-on {
	border: none;
	border-top: 2px solid #E0E1E3;
	border-bottom: 2px solid #E0E1E3;
	color: #828A90;
	background-color: transparent;
	padding: 3px 5px;
	text-shadow: none;
}

/* pagination select */
.pagination select {
	width:60px;	
	height: 25px;
	line-height: 25px;
	border-radius: 0px;
}

/* pagination button */
.pagination .input-append .btn {
	text-decoration: none;
	border-radius: 0px;
}

.pagination .input-append .btn:hover {
	background-color: #828A90;
}

/* =========== Popover ============ */

.popover {
	background-color: transparent;
	box-shadow: none;
	padding: 0px;
	border: medium none;
	margin-top: 1px;
	max-width: 500px;
}

.popover-inner {
    background-color: #FFF;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
    overflow: hidden;
    width: 415px;
}

.popover-title {
	background-color: #FFF;
    color: #828A90;
    font-size: 12px;
    font-weight: bold;
    padding: 3px 10px;
	border: none;
	border-bottom: 2px solid #730049;
}
.popover-content {
    padding: 0 10px;

}
.dl-horizontal-tips dt {
    clear: left;
    float: left;
    font-weight: normal;
    font-style: italic;
    text-align: right;
    width: 110px;
    font-size:11px;
	color: #828A90;
}
.dl-horizontal-tips dd {
    margin-left: 115px;
    width: 280px;
    font-size:11px;
}
.dl-horizontal-tips hr {
    margin: 3px 0;
}

/* =========== 	connsec Footer ============ */

.connsec-footer {
    background-image: url("../img/connsec-footer/footer-bottom.png");
    background-repeat: repeat-x;
    bottom: 0;
    height: 67px;
    left: 0;
    margin-bottom: 0;
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 3000;
}


.connsec-footer .footer-left {
    background-image: url("../img/connsec-footer/footer-left.png");
    background-repeat: repeat-x;
    float: left;
    height: 70px;
    margin-left: -640px;
    width: 50%;
}

.connsec-footer .footer-right {
    background-image: url("../img/connsec-footer/footer-right.png");
    background-repeat: repeat-x;
    border: 0 none;
    float: right;
    height: 70px;
    margin-right: -640px;
    padding: 0;
    width: 50%;
}

.connsec-footer .footer-center {
    background-image: url("../img/connsec-footer/footer-top.png");
    border: 0 none;
    float: left;
    height: 70px;
    margin: 0;
    padding: 0;
    position: relative;
    width: 1280px;
}

.connsec-footer .footer-center p {
	color: #828A90;
    padding: 8px 0;
    font-size: 0.9em;
}

.connsec-footer .footer-center p > a {
    color: #E0E1E3;
}

.connsec-footer .footer-center p.linkage {
    border-bottom: 1px solid #828A90;
    margin: 5px 0 0;
    width: 500px;
}

.connsec-footer .footer-center p.multi-lang {
    float: right;
	display: inline-block;
}

.connsec-footer .footer-center p.copyright {
	width: 500px;
	border-top: 1px solid #828A90;
	display: inline-block;
}

/* =========== connsec Header ============ */

.connsec-header {
	height: auto;
    left: 0;
    /* position: fixed;  *//* on scroll*/
    top: 0;
    width: 100%;
	z-index: 1030;
}

.connsec-header .dockbar {
    background: none repeat scroll 0 0 #E0E1E3;
    height: 21px;
}

.connsec-header .menubar {
    background-color: #2E3337;
	background-image: none;
    /*background-image: -moz-linear-gradient(center top , #222222, #515151);
    background-repeat: repeat-x;*/
    border-bottom: 3px solid #0075A3;
    border-top: 3px solid #2E3337;
    color: #999999;
    display: block;
    height: 50px;
}

.connsec-header .menubar .header-logo {
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: 100px;
    margin-top: -24px;
    position: absolute;
    width: 100px;
    z-index: 2000;
}

.connsec-header .menubar p.multi-lang {
    float: right;
	display: inline-block;
	padding-right:10px;
	margin-top: 10px;
}

/* =========== Select ============ */
select {
    background-color: #FFF;
    border: 2px solid #E0E1E3;
    border-radius: 2px /*4px*/;
	box-shadow: none;
    color: inherit;
    font-family: inherit;
    font-size:12px;
    height: 25px;
    line-height: 25px;
    padding:2px 2px 2px 5px;
}

select:focus {
	outline: none;
	border-color: rgba(115,0,73,0.7);
}

/* select readonly & disable */
select[readonly] {
    background-color: #EEE;
    border: 2px solid #E0E1E3;
	color: #828A90;
    opacity: 0.8;
	cursor: not-allowed;
}
select[disabled] {
    background-color: #EEE;
    border: 2px solid #E0E1E3;
	color: #828A90;
    opacity: 0.8;
	cursor: not-allowed;
}

/* input placeholder */
select::-webkit-input-placeholder{
    color:red;
    font-size: 0.85em;
}
select::-moz-placeholder{
    color:#828A90;
    font-size: 0.85em;
}

/* select series */
select.select-mini {
    width: 54px;
}
select.select-small {
    width: 84px;
}
select.select-medium {
    width: 154px;
}
select.select-large {
    width: 274px;
}

/* =========== Tab ============ */
.tab-content {
    overflow: inherit;
}

.modal .tab-content {
	margin-top: 10px;
}

/* =========== Table ============ */
.table {
	margin-bottom: 10px;
}

.table th {
    padding: 5px 2px;
    text-align: center;
    vertical-align: top;
}

.table td {
    padding: 5px 2px;
    text-align: left;
    vertical-align: top;
} 

.table tr {
    border-top: 2px solid #FFF;
	border-bottom: 2px solid #FFF;
}

.table tr:hover {
    border-top: 2px solid #730049;
	border-bottom: 2px solid #730049;
	background-color: #EEE;
	color: #2E3337;
}

.table tbody tr.info > td {
  background-color: rgba(115, 0, 73, 0.1);
}

.table tbody tr.info:hover > td {
  background-color: #EEE;
}

.table-list {
	color: #828A90;	
}

.table-list thead tr{
	background-color: #EEE;
}

.table-list thead tr:hover{
	background-color: #EEE;
	color: #2E3337;
    border-top: 2px solid #808A90;
	border-bottom: 2px solid #808A90;
}

.table-list .text-center {
    text-align: center;
}

.table-list td:last-child a.dropdown-toggle:hover, .table-list td:last-child a.dropdown-toggle:active, .table-list td:last-child a.dropdown-toggle:focus {
	text-decoration: none;
	opacity: 1.0;
}

/* =========== Uni-Search ============ */

.uni-search {
	float:right; 	
}

/* =========== Upload-box (for batch upload display) ============ */

.upload-box {
    display: inline-block;
	background-color: #EEE;
	color: #828A90;
	border: 2px solid #E0E1E3;
    border-radius: 2px;
    height: 21px;
    width: 270px;
	cursor: not-allowed;
	float:left;
}

/* =========== Well ============ */

.well {
	position:relative;
	background-color: #F5F5F5;
    border: medium none;
	border-right: 2px solid #730049;
    border-radius: 0 0 0 0;
    box-shadow: none;
    margin-bottom: 0px;
    padding: 0 0 0 10px;
	line-height: 15px;
	vertical-align: middle;
    min-height: 450px;
}

.well-white {
	background-color: #FFF;
	border-right: /*2px solid transparent*/ none;
}

.well #tree {
	overflow:auto;
	margin-left: 5px;
}

.well #tree .rootFolder {
	padding: 5px 0 0;
}

.well #tree .rootFolder .folder {
	background-color:transparent;
	background-image:url("../js/zTree/css/img/zTreeStandard.png");
	background-repeat:no-repeat; 
	background-position: -110px -16px;
	display:inline-block;
	margin:0;
	vertical-align:middle;
	height:16px;
	width:16px;
}

.well #tree .zTree {
	padding-top: 0px;
}

.well #sideBar {
	position: absolute;
	top: 0px;
	right: 0px;
	height: 25px;
	line-height: 25px;
	width: 14px;
	margin: 0px;
	background-color: #730049;
	color: #FFF;
}

.well #sideBar i {
	margin-top: 0px;
}

/*------------zhangyang-----------------*/

.container-left{
    width: 360px;
    height: 250px;
    float: right;
}
.content-welcome{
  color: #828A90;
  font-size: 18px;
  font-weight: bold;
}
.content-connsec{
  font-size: 25px;
  font-weight: 700;
  padding-left: 53px;
}
.content-DP{
  display: inline; 
  color: #730049;
  font-size: 25px;
  font-weight: 700;
  padding-right: 15px; 
}
.content-bg{
  display:block;
  background: url("../img/connsecLoginBG.png") no-repeat; 
  width: 359px;
  height: 242px; 
}

.container-right{
    background-color: rgba(130,138,144, 0.6); 
    background-color: rgba(130,138,144) \9; 
    display: inline-block;
    border-radius: 3px;
    width: 332px;
    height: auto;
    padding: 30px 20px;

}

input, input[type] {
    margin-bottom: 0px;
    border-radius: 0px 2px 2px 0px;
} 

.input-prepend{
    margin-bottom: 15px;
}

.input-prepend .add-on{
    background-color: #828A90;
    background-color: #E0E1E3 \9;
    border: none;
    font-size: 14px;
    height: 27px;
    line-height: 27px;
    padding: 6px 10px 2px;
    text-align: center;
    text-shadow: none;
}

.btn.btn-large {
    border-radius: 3px;
    font-size: 17px;
    padding: 9px 20px;
}








