@charset "utf-8";
/* head.css */
 #head{ width:1080px; overflow:hidden;}
 #head .logo{
	         background:url(../images/logo.png) no-repeat #f9f9f9; height:70px; width:1080px; 
			 overflow:hidden; border-bottom:5px #71716c solid; margin-bottom:1px; text-indent:-999999px;
 } 
 #head .nav {
    background:url(../images/nav-bg.png) repeat-x; height:54px; width:1080px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:5px;
 }
 ul.navList{ padding:14px 14px; color:#fff; font-family:"微软雅黑", "宋体";}
 ul.navList li{ float:left; display:block;}
 ul.navList li a{ display:block; background:url(../images/nav-icon.png) no-repeat;margin:0px 10px;}
 ul.navList li a.home{ background-position:0px -1px; text-indent:25px;}
 ul.navList li a.apply{ background-position:0px -30px; text-indent:33px;}
 ul.navList li a.document{ background-position:0px -59px; text-indent:30px;}
 ul.navList li a.support{ background-position:0px -87px; text-indent:30px;}
 ul.navList li a.control{ background-position:0px -115px; text-indent:35px;} 
 /*------------------------------------------------*/
 ul.navList li a:hover{ background:url(../images/nav-iconhover.png) no-repeat;}
 ul.navList li a:hover.home{background-position:0px -1px;}
 ul.navList li a:hover.apply{ background-position:0px -32px;}
 ul.navList li a:hover.document{ background-position:0px -63px;}
 ul.navList li a:hover.support{ background-position:0px -90px;}
 ul.navList li a:hover.control{ background-position:0px -118px;} 
 /*------------------------------------------------*/
 ul.navList li.line{background:url(../images/nav-line.png) no-repeat; height:20px; padding:0px;}


 
 ul.navList li a{ color:#fff; font-weight:bolder;}
 ul.navList li a:hover{ color:#333; font-weight:bolder;}  


