#container .treeView ul {
	background: #f7f7f7;
	width: 198px;
}

ul#menu,ul#menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul#menu a {
	display: block;
	text-decoration: none;
}

ul#menu li {
	width: 198px;
	overflow: hidden;
}

ul#menu li a {
	background: #f7f7f7;
	color: #454545;
	font-weight: bold;
	padding: 0.5em;
}

ul#menu li a:hover {
	background: #e7e7e7;
	border-left: 5px #2D9FDA solid;
	padding-left: 15px;
}

ul#menu li a.current {
	background: #e7e7e7;
	border-left: 5px #2D9FDA solid;
	padding-left: 15px;
}

ul#menu li ul li a {
	color: #666;
	font-weight: normal;
	padding-left: 20px;
}

ul#menu li ul li a:hover {
	background: #e7e7e7;
	border-left: 5px #2D9FDA solid;
	padding-left: 15px;
}

ul#menu li ul li a.current {
	background: #e7e7e7;
	border-left: 5px #dadada solid;
	padding-left: 15px;
}

ul#menu li ul li ul li a{
	color: #666;
	font-weight: normal;
	padding-left: 40px; 
}

ul#menu li ul li ul li a:hover {
	background: #e7e7e7;
	border-left: 5px #2D9FDA solid;
	padding-left: 35px;
}

ul#menu li ul li ul li a.current {
	background: #e7e7e7;
	border-left: 5px #dadada solid;
	padding-left: 35px;
}

a.navhome .icon_home {
	background: url(../images/icons.png) no-repeat 0 0;
	display: inline-block;
	height: 18px;
	margin-right: 4px;
	vertical-align: middle;
	width: 20px;
}

a.nav1 .icon_home {
	background-color: #6699ff;
	display: inline-block;
	height: 18px;
	margin-right: 4px;
	vertical-align: middle;
	width: 20px;
}

a.nav2 .icon_home {
	/*background-color: #00cc00;*/
	background-color: #99cc33;
	display: inline-block;
	height: 18px;
	margin-right: 4px;
	vertical-align: middle;
	width: 20px;
}

a.nav3 .icon_home {
	
	background-color: #ffcc00;
	display: inline-block;
	height: 18px;
	margin-right: 4px;
	vertical-align: middle;
	width: 20px;
}
