 .ant-form {
    .ant-form-item {
        display: inline-flex;
     } 
}

.ant-form-item-label {
    width: 179px;
}
.ant-input {
    width: 358px;
}
.ant-form-item-control-input {
    width: 358px;
}
 .ant-btn-primary {
     margin-left: 550px;
}