@import './theme-default.less';

// Grey patch
@greyColorer: lighter lighten(@black, 6%), darker  lighten(@black, 4%);

@nz-table-rep-even-background: darken(@table-row-hover-bg, 10%);
@nz-table-rep-column-name-color: darken(@text-color, 30%);

@sf-optional-color: darken(@text-color, 50%);
@sf-widget-array-type-card-remove-bg: rgba(0, 0, 0, 0.66);

@scrollbar-track-color: fade(@white, 30%);
