@import './theme-default.less';

@root-entry-name: variable;

@{html-selector} {
  --grey-1: #fff;
  --grey-2: #fafafa;
  --grey-3: #f5f5f5;
  --grey-4: #f0f0f0;
  --grey-5: #d9d9d9;
  --grey-6: #bfbfbf;
  --grey-7: #8c8c8c;
  --grey-8: #595959;
  --grey-9: #434343;
  --grey-10: #262626;
  --grey-11: #1f1f1f;
  --grey-12: #141414;
  --grey-13: #000;
}

// grey
@grey-1: var(--grey-1);
@grey-2: var(--grey-2);
@grey-3: var(--grey-3);
@grey-4: var(--grey-4);
@grey-5: var(--grey-5);
@grey-6: var(--grey-6);
@grey-7: var(--grey-7);
@grey-8: var(--grey-8);
@grey-9: var(--grey-9);
@grey-10: var(--grey-10);
@grey-11: var(--grey-11);
@grey-12: var(--grey-12);
@grey-13: var(--grey-13);
