<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.maxkey.persistence.mapper.OrganizationsMapper">

    <sql id="dao_where_statement">
        <if test="id != null and id != ''">
            and id = #{id}
        </if>
        <if test="name != null and name != '' ">
            and name like concat('%',#{name},'%')
        </if>
        <if test="parentId != null and parentId != '' ">
            and parentid = #{parentId}
        </if>
        <if test="parentName != null and parentName != ''">
            and parentName like concat('%',#{parentName},'%') 
        </if>

    </sql>


    <select id="queryOrgs" parameterType="Organizations" resultType="Organizations">
        select
        *
        from mxk_organizations
        where instid = #{instId}
        <include refid="dao_where_statement"/>
        order by sortindex,id
    </select>


    <select id="queryPageResults" parameterType="Organizations" resultType="Organizations">
        select
        *
        from mxk_organizations
        where instid = #{instId}
        <include refid="dao_where_statement"/>
        order by sortindex,id
    </select>

    <update id="logisticDelete" parameterType="Organizations">
        update mxk_organizations set status = '2'
        where instid = #{instId}
        <if test="id != null and id != '' ">
            and id = #{id}
        </if>
        <if test="name != name">
            and name = #{name}
        </if>
        <if test="enable != null">
            and status = '1'
        </if>
        <if test="codePath != null">
            and codepath = #{codePath}
        </if>
    </update>

    <update id="logisticBatchDelete" parameterType="java.util.List">
        UPDATE MXK_ORGANIZATIONS
        SET STATUS = '2'
        WHERE instid = #{instId}
        and id in
        <foreach collection="ids" item="selectId" open="(" separator="," close=")">
            #{selectId}
        </foreach>
    </update>


</mapper>