<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dromara.maxkey.persistence.mapper.PermissionMapper">

	<sql id="where_statement">
    	<if test="id != null and id != ''">
			and	id	=	#{id}
		</if> 
		<if test="name != null and name != ''">
			and name like concat('%',#{name},'%') 
		</if>
    </sql>
    
    <select id="queryGroupPrivileges" parameterType="Permission" resultType="Permission">
        select
            *
        from
            mxk_permission
        where   instid   =   #{instId} 
            and status   = 1
       <if test="id != null and id != ''">
            and id  =   #{id}
        </if> 
        <if test="groupId != null and groupId != ''">
            and groupid  =   #{groupId}
        </if> 
        <if test="appId != null and appId != ''">
            and appid  =   #{appId}
        </if> 
        
    </select>
    
    <update id="deleteGroupPrivileges" parameterType="java.util.List">
        update mxk_permission 
        set status = 9 
        where 1 = 1 and 
            <foreach item="item" collection="list" open="(" separator="or" close=")">
                ( id = #{item.id} and instid  =   #{item.instId} )
            </foreach>
    </update>
    
    <insert id="insertGroupPrivileges"  parameterType="java.util.List">
	    insert into mxk_permission ( id,appid,groupid,resourceid,status,instid) 
	    values 
	    <foreach collection="list" item="item" index="index" separator=",">
	        (#{item.id},#{item.appId},#{item.groupId},#{item.resourceId},#{item.status},#{item.instId})
	    </foreach>
	</insert>
	
	
   
</mapper>