<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dromara.maxkey.persistence.mapper.RolesMapper">

	<sql id="where_statement">
    	<if test="id != null and id != ''">
			and	id	=	#{id}
		</if> 
		<if test="roleName != null and roleName != ''">
			and rolename like concat('%',#{roleName},'%') 
		</if>
		<if test="appId != null and appId != ''">
			and	appid	=	#{appId}
		</if> 
		
    </sql>
    
	
	
	<select id="fetchPageResults" parameterType="Roles" resultType="Roles">
		select
			*
		from
			mxk_roles
		where instid   =   #{instId} 
		<include refid="where_statement"/>
	</select>
	
	<select id="queryDynamicRoles" parameterType="Roles" resultType="Roles">
		select
			*
		from
			mxk_roles
		where instid   =   #{instId} 
            and category = 'dynamic'
		<include refid="where_statement"/>
	</select>
	
	
	<update id="logisticDelete" parameterType="Roles" >
    	update mxk_roles set
    		status	=	'2'  
    	where	instid   =   #{instId} 
    	<if test="id != null">
			and	id	=	#{id}
		</if>
		<if test="roleName != roleName">
			and	rolename	=	#{roleName}
		</if>
    </update>
    
    
    <update id="logisticBatchDelete" parameterType="java.util.List">
    	update mxk_roles
    	set status='2' 
    	where instid   =   #{instId} 
    	   and id in
    		<foreach item="item" collection="list" open="(" separator="," close=")">
				#{item}
    		</foreach>
    </update>
    
    
    <select id="queryRolesByUserId" parameterType="string"  resultType="Roles">
            select  distinct
                r.*
            from
                mxk_userinfo u,
                mxk_roles   r,
                mxk_role_member rm
            where   u.instid    =   #{instId} 
                and r.instid    =   #{instId} 
                and rm.instid   =   #{instId} 
                and rm.memberid = #{value}
                and u.id        = #{value}
                and rm.type     in( 'USER','USER-DYNAMIC')
                and rm.groupid  =   r.id    
                and rm.memberid =   u.id
    </select>
    
   
</mapper>