<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dromara.maxkey.persistence.mapper.RolePermissionsMapper" >

	<sql id="where_statement">
    	<if test="id != null and id != ''">
			and	apps.id	=	#{id}
		</if> 
		<if test="appName != null and appName != ''">
			and apps.appname like  '%${appName}%'
		</if>
		<if test="protocol != null and protocol != ''">
			and apps.protocol = #{protocol}
		</if>
		<if test="category != null and category != ''">
			and apps.category = #{category}
		</if>
    </sql>
	
	<!-- AppGroup -->
	<select id="appsInRole" parameterType="RolePermissions" resultType="RolePermissions">
		select
			p.id,
			p.roleid,
			r.rolename,
			apps.id appid,
			apps.appname,
            apps.icon,
            apps.loginurl,
            apps.protocol,
            apps.category,
            apps.description,
            apps.vendor,
            apps.vendorurl
		from
			mxk_apps apps,
			mxk_role_permissions    p,
			mxk_roles  r
		where
		    apps.instid    =   #{instId} 
		    and p.instid   =   #{instId} 
		    and r.instid   =   #{instId} 
			and p.appid    =   apps.id
			and p.roleid   =   r.id
			<if test="roleId != null and roleId != ''">
                and p.roleid    =   #{roleId}
                and r.id        =   #{roleId}
            </if>
		<include refid="where_statement"/>
	</select>
	
	<select id="appsNotInRole" parameterType="RolePermissions" resultType="RolePermissions">
		select
			*
		from
			mxk_apps apps
		where
			 1	=	1
			and  apps.id not in(
				select 
					appid
				from
					mxk_role_permissions
				where 
					roleid	=	#{roleId}
			)
		<include refid="where_statement"/>
	</select>
	
</mapper>