<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.maxkey.persistence.mapper.AccountsMapper">

	<sql id="where_statement">
    	<if test="id != null and id != ''">
			AND	ID	=	#{id}
		</if> 
		<if test="appId != null and appId != ''">
			AND	APPID	=	#{appId}
		</if> 
		<if test="username != null and username != ''">
			AND	USERNAME	=	#{username}
		</if> 
		<if test="relatedUsername != null and relatedUsername != ''">
			AND	RELATEDUSERNAME	=	#{relatedUsername}
		</if> 
    </sql>
    
	
	
	<select id="queryPageResults" parameterType="Accounts" resultType="Accounts">
		SELECT
			*
		FROM
			MXK_ACCOUNTS
		WHERE
			 (1=1)	
		<include refid="where_statement"/>
	</select>
	
</mapper>