<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.maxkey.persistence.mapper.AppsDesktopDetailsMapper">

	<select id="getAppDetails" parameterType="string" resultType="AppsDesktopDetails">
    	SELECT 
			*
    	FROM 
    		MXK_APPS_DESKTOP_DETAILS DD,
    		MXK_APPS APP
    	WHERE 	
    		APP.ID	=	#{value}
    		AND DD.ID	=	#{value}
    		AND DD.ID	=	APP.ID
    		AND STATUS	=	1
    </select>
	
</mapper>