<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.maxkey.persistence.mapper.AppsFormBasedDetailsMapper">

	<select id="getAppDetails" parameterType="string" resultType="AppsFormBasedDetails">
    	SELECT 
			*
    	FROM 
    		MXK_APPS_FORM_BASED_DETAILS FBD,
    		MXK_APPS APP
    	WHERE 	
    		APP.ID	=	#{value}
    		AND FBD.ID	=	#{value}
    		AND FBD.ID	=	APP.ID
    		AND STATUS	=	1
    </select>
</mapper>