<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.maxkey.persistence.mapper.AppsCasDetailsMapper">
	<select id="getAppDetails" parameterType="string" resultType="AppsCasDetails">
    	SELECT 
			*
    	FROM 
    		MXK_APPS_CAS_DETAILS CD,
    		MXK_APPS APP
    	WHERE 	
    		STATUS	=	1
    		AND CD.ID	=	APP.ID
    		AND (
    			APP.ID	=	#{value}
    			OR  LOWER(CD.SERVICE) = LOWER(SUBSTRING(#{value},1,LENGTH(CD.SERVICE)))
    		)
    </select>
</mapper>