<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.maxkey.persistence.mapper.AppsMapper">

	<sql id="where_statement">
		<if test="id != null and id != ''">
			AND ID = #{id}
		</if>
		<if test="name != null and name != ''">
			AND NAME  LIKE  '%${name}%'
		</if>
		<if test="protocol != null and protocol != ''">
			AND PROTOCOL = #{protocol}
		</if>
		<if test="credential != null and credential != ''">
			AND CREDENTIAL = #{credential}
		</if>
		<if test="category != null and category != ''">
			AND CATEGORY = #{category}
		</if>
		<if test="vendor != null and vendor != ''">
			AND VENDOR = #{vendor}
		</if>
	</sql>
	
	
	<select id="queryPageResults" parameterType="Apps" resultType="Apps">
		SELECT
			*
		FROM
			MXK_APPS
		WHERE
			 (1=1)	
		<include refid="where_statement"/>
		ORDER BY SORTINDEX 
	</select>
	
		
	<insert id="insertApp" parameterType="Apps">
		INSERT INTO MXK_APPS(
			ID,
			NAME,
			ICON,
			LOGINURL,
			PROTOCOL,
			CATEGORY,
			SECRET,
			DESCRIPTION,
			VENDOR,
			VENDORURL,
			
			CREDENTIAL,
			SHAREDUSERNAME,
			SHAREDPASSWORD,
			SYSTEMUSERATTR,
			
			ISEXTENDATTR,
			EXTENDATTR,
			USERPROPERTYS,
			
			ISSIGNATURE,
			
			ISADAPTER,
			ADAPTER,
			
			PRINCIPAL,
			CREDENTIALS,
			
			VISIBLE,
			
			SORTINDEX,
			
			CREATEDBY,
			CREATEDDATE,
			
			STATUS
		)VALUES(
			#{id},
			#{name},
			#{icon},
			#{loginUrl},
			#{protocol},
			#{category},
			#{secret},
			#{description},
			#{vendor} ,
			#{vendorUrl},
			
			#{credential},
			#{sharedUsername},
			#{sharedPassword},
			#{systemUserAttr},
			
			#{isExtendAttr},
			#{extendAttr},
			#{userPropertys},
			#{isSignature},
			
			#{isAdapter},
			#{adapter},
			
			#{principal},
			#{credentials},
			
			#{visible},
			
			#{sortIndex},
			
			#{createdBy},
			#{createdDate} ,
			
			#{status}
		)
	</insert>
	
	<update id="updateApp" parameterType="Apps" >
    	UPDATE MXK_APPS SET
    		NAME			=	#{name},
    		<if test="icon != null">
			ICON			=	#{icon},
			</if>
			LOGINURL		=	#{loginUrl},
			PROTOCOL		=	#{protocol},
			CATEGORY		=	#{category},
			SECRET 			=	#{secret},
			DESCRIPTION		=	#{description},
			VENDOR			=	#{vendor},
			VENDORURL		=	#{vendorUrl},
			
			CREDENTIAL			=	#{credential},
			SHAREDUSERNAME		=	#{sharedUsername},
			SHAREDPASSWORD		=	#{sharedPassword},
			SYSTEMUSERATTR		=	#{systemUserAttr},
			
			ISEXTENDATTR		=	#{isExtendAttr},
			EXTENDATTR			=	#{extendAttr},
			USERPROPERTYS		=	#{userPropertys},
			ISSIGNATURE			=	#{isSignature},
			
			<if test="adapter != null">
			ISADAPTER			=	#{isAdapter},
			ADAPTER				=	#{adapter},
			</if>
			PRINCIPAL		=	#{principal},
			CREDENTIALS		=	#{credentials},
			VISIBLE				=	#{visible},
			SORTINDEX			=	#{sortIndex},
			
			MODIFIEDBY		=	#{modifiedBy},
			MODIFIEDDATE	=	#{modifiedDate},
			
			STATUS			=	#{status}
    	WHERE 
			ID	=	#{id}
    </update>
    
    <select id="queryMyApps" parameterType="UserApps" resultType="UserApps">
        SELECT DISTINCT
            APP.*
        FROM
            MXK_APPS APP,MXK_GROUP_PRIVILEGES GP
        WHERE
            APP.ID=GP.APPID
            AND GP.GROUPID IN(
                SELECT 
                    G.ID
                FROM  
                    `MXK_GROUPS` G
                WHERE 
                    G.ID='ALL_USER_GROUP'
                    OR G.ID IN(
                      SELECT 
                        GM.GROUPID 
                      FROM 
                        MXK_GROUP_MEMBER GM,MXK_USERINFO U 
                      WHERE 1   =   1
                        <if test="userId != null and userId != ''">
                            AND U.ID        =   #{userId}
                        </if>
                        <if test="username != null and username != ''">
                            AND  U.USERNAME =   #{username}
                        </if>
                        AND  GM.MEMBERID    =   U.ID 
                    )
            )
        <if test="name != null and name != ''">
            AND NAME    =   #{name}
        </if>
        ORDER BY SORTINDEX
    </select>
</mapper>