<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.maxkey.persistence.mapper.AppsSaml20DetailsMapper">

	<select id="getAppDetails" parameterType="string" resultType="AppsSaml20Details">
    	SELECT 
    		SVD.CERTISSUER,
    		SVD.CERTSUBJECT,
    		SVD.CERTEXPIRATION,
    		SVD.KEYSTORE,
    		SVD.SPACSURL ,
    		SVD.ISSUER,
    		SVD.ENTITYID,
    		SVD.AUDIENCE,
    		SVD.VALIDITYINTERVAL ,
    		SVD.NAMEIDFORMAT,
    		SVD.ENCRYPTED,
    		SVD.BINDING,
    		SVD.NAMEIDCONVERT,
    		SVD.SIGNATURE,
    		SVD.DIGESTMETHOD,
			APP.*
    	FROM 
    		MXK_APPS_SAML_V20_DETAILS SVD,
    		MXK_APPS APP
    	WHERE 	
    		APP.ID			=	#{value}
    		AND SVD.ID		=	#{value}
    		AND SVD.ID		=	APP.ID
    		AND APP.STATUS	=	1
    </select>
    
</mapper>