<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.maxkey.persistence.mapper.GroupMemberMapper">

	<sql id="where_statement">
    	<if test="id != null and id != ''">
			AND	ID	=	#{id}
		</if> 
		<if test="name != null and name != ''">
			AND NAME = #{name}
		</if>
    </sql>
    

    <!-- GROUP_MEMBER  User Member-->
    <select id="allMemberInGroup" parameterType="GroupMember" resultType="GroupMember">
		    SELECT	DISTINCT
					U.ID,
					U.USERNAME,
					U.USERTYPE,
					U.WINDOWSACCOUNT,
					
					U.DISPLAYNAME ,
					U.NICKNAME ,
					U.NAMEZHSPELL,
					U.NAMEZHSHORTSPELL,
					U.GIVENNAME ,
					U.MIDDLENAME ,
					U.FAMILYNAME ,
					
					U.GENDER,
		
					U.AUTHNTYPE,
					U.MOBILE,
					U.EMAIL,
					U.WORKEMAIL,
					U.WORKPHONENUMBER,
		
					U.EMPLOYEENUMBER,
					U.DIVISION,
					U.COSTCENTER,
					U.ORGANIZATION,
					U.DEPARTMENTID,
					U.DEPARTMENT,
					U.JOBTITLE,
					U.JOBLEVEL,
					
					
					U.CREATEDBY,
					U.CREATEDDATE,
					U.MODIFIEDBY,
					U.MODIFIEDDATE,
					
					U.STATUS
				FROM
					MXK_USERINFO U
			WHERE	1	=	1
	</select>
	
    <select id="memberInGroup" parameterType="GroupMember" resultType="GroupMember">
			SELECT	DISTINCT
				GM.ID,
				U.USERNAME,
				U.USERTYPE,
				U.WINDOWSACCOUNT,
				
				U.DISPLAYNAME ,
				U.NICKNAME ,
				U.NAMEZHSPELL,
				U.NAMEZHSHORTSPELL,
				U.GIVENNAME ,
				U.MIDDLENAME ,
				U.FAMILYNAME ,
				
				U.GENDER,
	
				U.AUTHNTYPE,
				U.MOBILE,
				U.EMAIL,
				U.WORKEMAIL,
				U.WORKPHONENUMBER,
	
				U.EMPLOYEENUMBER,
				U.DIVISION,
				U.COSTCENTER,
				U.ORGANIZATION,
				U.DEPARTMENTID,
				U.DEPARTMENT,
				U.JOBTITLE,
				U.JOBLEVEL,
				
				
				U.CREATEDBY,
				U.CREATEDDATE,
				U.MODIFIEDBY,
				U.MODIFIEDDATE,
				
				U.STATUS
			FROM
				MXK_USERINFO U,
				`MXK_GROUPS` G,
				MXK_GROUP_MEMBER GM
			WHERE	1	=	1
				<if test="groupId != null and groupId != ''">
					AND GM.GROUPID = #{groupId}
					AND G.ID = #{groupId}
				</if>
				<if test="groupName != null and groupName != ''">
					AND G.NAME = #{groupName}
				</if>
				AND	GM.TYPE		=	'USER'
				AND	GM.GROUPID	=	G.ID	
				AND	GM.MEMBERID	=	U.ID
	</select>
	
	
	<select id="memberNotInGroup" parameterType="GroupMember" resultType="GroupMember">
		SELECT	DISTINCT
			U.ID,
			U.USERNAME,
			U.USERTYPE,
			U.WINDOWSACCOUNT,
			
			U.DISPLAYNAME ,
			U.NICKNAME ,
			U.NAMEZHSPELL,
			U.NAMEZHSHORTSPELL,
			U.GIVENNAME ,
			U.MIDDLENAME ,
			U.FAMILYNAME ,
			
			U.GENDER,

			U.AUTHNTYPE,
			U.MOBILE,
			U.EMAIL,
			U.WORKEMAIL,
			U.WORKPHONENUMBER,

			U.EMPLOYEENUMBER,
			U.DIVISION,
			U.COSTCENTER,
			U.ORGANIZATION,
			U.DEPARTMENTID,
			U.DEPARTMENT,
			U.JOBTITLE,
			U.JOBLEVEL,
			
			
			U.CREATEDBY,
			U.CREATEDDATE,
			U.MODIFIEDBY,
			U.MODIFIEDDATE,
			
			U.STATUS
		FROM
			MXK_USERINFO U
		WHERE
			U.ID NOT IN(
       			 SELECT GM.MEMBERID 
       			 FROM 	`MXK_GROUPS` G,MXK_GROUP_MEMBER GM
			     WHERE  1  =  1
			     <if test="groupId != null and groupId != ''">
					AND GM.GROUPID = #{groupId}
					AND G.ID = #{groupId}
				</if>
				<if test="groupName != null and groupName != ''">
					AND G.NAME = #{groupName}
				</if>
					AND	GM.TYPE		=	'USER'
			     	AND GM.GROUPID	=	G.ID
			)
	</select>
	
	
	<!-- GROUP_MEMBER  Group Member-->
	<select id="groupMemberInGroup" parameterType="GroupMember" resultType="Groups">
		SELECT	DISTINCT
			IG.*
		FROM
			`MXK_GROUPS` IG,
			`MXK_GROUPS` G,
			MXK_GROUP_MEMBER GM
		WHERE
			 1	=	1
			AND GM.GROUPID	=	G.ID	
			AND	GM.MEMBERID	=	IG.ID
			AND	GM.TYPE		=	'GROUP'
		<if test="groupId != null and groupId != ''">
			AND GM.GROUPID = #{groupId}
			AND G.ID = #{groupId}
		</if>
		<if test="groupName != null and groupName != ''">
			AND G.NAME = #{groupName}
		</if>
	</select>

	
</mapper>