<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.maxkey.persistence.mapper.GroupPrivilegesMapper" >

	<sql id="where_statement">
    	<if test="id != null and id != ''">
			AND	APPS.ID	=	#{id}
		</if> 
		<if test="name != null and name != ''">
			AND APPS.NAME LIKE  '%${name}%'
		</if>
		<if test="protocol != null and protocol != ''">
			AND APPS.PROTOCOL = #{protocol}
		</if>
		<if test="category != null and category != ''">
			AND APPS.CATEGORY = #{category}
		</if>
    </sql>
	
	<!-- AppGroup -->
	<select id="appsInGroup" parameterType="GroupPrivileges" resultType="GroupPrivileges">
		SELECT
			GP.ID,
			GP.GROUPID,
			GP.APPID,
			APPS.NAME,
            APPS.ICON,
            APPS.LOGINURL,
            APPS.PROTOCOL,
            APPS.CATEGORY,
            APPS.DESCRIPTION,
            APPS.VENDOR,
            APPS.VENDORURL
		FROM
			MXK_APPS APPS,
			MXK_GROUP_PRIVILEGES    GP
		WHERE
			GP.APPID=APPS.ID
			AND GP.GROUPID	=	#{groupId}
		<include refid="where_statement"/>
	</select>
	
	<select id="appsNotInGroup" parameterType="GroupPrivileges" resultType="GroupPrivileges">
		SELECT
			*
		FROM
			MXK_APPS APPS
		WHERE
			 1	=	1
			AND  APPS.ID NOT IN(
				SELECT 
					APPID
				FROM
					MXK_GROUP_PRIVILEGES
				WHERE 
					GROUPID	=	#{groupId}
			)
		<include refid="where_statement"/>
	</select>
	
</mapper>