<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.maxkey.persistence.mapper.HistoryLogsMapper" >

	<sql id="where_statement">
    	<if test="id != null and id != ''">
			AND	ID	=	#{id}
		</if> 
		<if test="serviceName != null and serviceName != '' ">
			AND	 LOWER(SERVICENAME) LIKE LOWER(CONCAT('%',#{serviceName},'%'))
		</if>
		<if test="message != null and message != '' ">
			AND	 LOWER(MESSAGE) LIKE LOWER(CONCAT('%',#{message},'%'))
		</if>
		<if test="startDate != null  and startDate != '' ">
			AND CREATEDDATE  BETWEEN 	#{startDate} AND	#{endDate}
		</if>
		<if test="createdBy != null and createdBy != ''">
			AND	CREATEDBY	=	#{createdBy}
		</if>

		<if test="username != null and username != ''">
			AND	 LOWER(USERNAME) LIKE LOWER(CONCAT('%',#{username},'%'))
		</if>
		<if test="messageType != null and messageType != ''">
			AND	MESSAGETYPE	=	#{messageType}
		</if>
		<if test="operateType != null and operateType != ''">
			AND	OPERATETYPE	=	#{operateType}
		</if>
    </sql>
	
    
     <select id="queryPageResults" parameterType="HistoryLogs" resultType="HistoryLogs">
    	SELECT 
			ID,
			TID,
			TNAME,
			SERVICENAME ,
			CODE,
			MESSAGE ,
			CONTENT,
			OPERATETYPE,
			MESSAGETYPE,
			USERNAME,
			CREATEDDATE,
			CREATEDBY
    	FROM MXK_HISTORY_LOGS 
    	WHERE	1	=	1
    	<include refid="where_statement"/>
    	
    	ORDER BY CREATEDDATE DESC
    </select>
  
</mapper>