<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.maxkey.persistence.mapper.HistoryLoginAppsMapper" >

	<sql id="dao_where_statement">
    	<if test="id != null and id != ''">
			AND	ID	=	#{id}
		</if> 
		<if test="sessionId != null and sessionId != ''">
			AND	SESSIONID	=	#{sessionId}
		</if> 
		<if test="appId != null and appId != ''">
			AND	APPID	=	#{appId}
		</if>
		<if test="appName != null and appName != ''">
			AND	APPNAME	LIKE CONCAT('%',#{appName},'%')
		</if> 
		<if test="uid != null and uid != ''">
			AND	UID	=	#{uid}
		</if> 
		<if test="username != null and username != ''">
			AND	USERNAME	LIKE CONCAT('%',#{username},'%')
		</if> 
		<if test="displayName != null and displayName != ''">
			AND	DISPLAYNAME	LIKE CONCAT('%',#{displayName},'%')
		</if> 
		<if test="startDate != null and startDate != ''">
			AND	LOGINTIME	>=	#{startDate}
		</if>
		<if test="endDate != null and endDate != ''">
			AND	 #{endDate}	>=	LOGINTIME
		</if>
		
    </sql>
    
     <select id="queryPageResults" parameterType="HistoryLoginApps" resultType="HistoryLoginApps">
    	SELECT 
			ID,
			SESSIONID,
			APPID,
			APPNAME,
			UID,
			USERNAME,
			DISPLAYNAME,
			DATE_FORMAT(LOGINTIME, '%Y-%m-%d  %H:%i:%s') AS LOGINTIME
			 
    	FROM MXK_HISTORY_LOGIN_APPS
    	WHERE	1	=	1
    	<include refid="dao_where_statement"/>
    	
    	ORDER BY LOGINTIME DESC
    </select>
  
    
</mapper>