<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.maxkey.persistence.mapper.RegistrationMapper">
	
	<select id="queryUserInfoByEmail" parameterType="string" resultType="UserInfo">
		SELECT
			ID,
			EMAIL
		FROM
			USERINFO
		WHERE
			EMAIL = #{value}
		UNION
		SELECT 
			ID,
			WORKEMAIL EAMIL
		FROM
			MXK_REGISTRATION
		WHERE 
			WORKEMAIL = #{value}
	</select>
	
</mapper>