<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.maxkey.persistence.mapper.ReportMapper" >
 	<!-- DAY  COUNT 一天访问量 -->
	<select id="analysisDay" parameterType="String" resultType="Integer">
    	SELECT 
    		COUNT(ID) REPORTCOUNT
    	FROM MXK_history_login 
    	WHERE 
    		DATE(LOGINTIME) =curdate()
    </select>
    <!-- 本月新用户统计 -->
    <select id="analysisNewUsers" parameterType="String" resultType="Integer">
    	SELECT COUNT(*) REPORTCOUNT FROM MXK_USERINFO 
		WHERE 
		last_day(CREATEDDATE) =last_day(curdate())
    </select>
    <!-- 在线用户统计 -->
    <select id="analysisOnlineUsers" parameterType="String" resultType="Integer">
    	    SELECT COUNT(*) REPORTCOUNT FROM MXK_USERINFO 
			WHERE 
			LASTLOGINTIME -LASTLOGOFFTIME
    </select>
    <!-- 30天活跃用户统计 -->
    <select id="analysisActiveUsers" parameterType="String" resultType="Integer">
    	SELECT COUNT(*) REPORTCOUNT FROM MXK_USERINFO 
		WHERE 
		DATE(LASTLOGINTIME) >date_add(curdate(), interval - day(curdate()) -31 day)
    </select>
    
    <!-- DAY HOUR COUNT 当天每小时 -->
	<select id="analysisDayHour" parameterType="String" resultType="Map">
    	SELECT 
    		COUNT(ID) REPORTCOUNT, HOUR(LOGINTIME) REPORTSTRING 
    	FROM MXK_history_login 
    	WHERE 
    		DATE(LOGINTIME) =curdate()
    	GROUP BY REPORTSTRING
    	ORDER BY REPORTSTRING
    </select>
    <!-- 30 DAY COUNT 最近30天每天访问量-->   
    <select id="analysisMonth" parameterType="String" resultType="Map">
    	SELECT 
    		COUNT(ID) REPORTCOUNT, DATE(LOGINTIME) REPORTSTRING 
    	FROM MXK_history_login 
    	WHERE 
    		DATE(LOGINTIME) >date_add(curdate(), interval - day(curdate()) -31 day)
    	GROUP BY REPORTSTRING
    	ORDER BY REPORTSTRING
    </select>
    
    <!-- 30天浏览器的访问统计 -->
    <select id="analysisBrowser" parameterType="Map" resultType="Map">
    	SELECT 
    		COUNT(ID) REPORTCOUNT, BROWSER REPORTSTRING 
    	FROM MXK_history_login 
    	WHERE 
    		DATE(LOGINTIME) >date_add(curdate(), interval - day(curdate()) -31 day)
    	GROUP BY REPORTSTRING
    	ORDER BY REPORTCOUNT DESC
    </select>
    
    <!-- 30天应用单点登录的访问统计 -->
	<select id="analysisApp" parameterType="Map" resultType="Map">
    	SELECT COUNT(ID) REPORTCOUNT,APPNAME 
    	FROM MXK_HISTORY_LOGIN_APPS
    	WHERE 
    		DATE(LOGINTIME) >date_add(curdate(), interval - day(curdate()) -31 day)
    	GROUP BY APPNAME ORDER BY REPORTCOUNT DESC
    </select>

</mapper>