<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.maxkey.persistence.mapper.ResourcesMapper">

	<sql id="where_statement">
    	<if test="id != null and id != ''">
			AND	RES.ID	=	#{id}
		</if> 
		<if test="appId != null and appId != ''">
            AND RES.APPID  =   #{appId}
        </if> 
        <if test="parentId != null and parentId != ''">
            AND RES.PARENTID  =   #{parentId}
        </if> 
		<if test="name != null and name != ''">
			AND RES.NAME LIKE '%${name}%'
		</if>
    </sql>
    
	
	
	<select id="queryPageResults" parameterType="Resources" resultType="Resources">
		SELECT
			RES.*,APP.NAME APPNAME
		FROM
			MXK_RESOURCES RES, MXK_APPS APP
		WHERE
			 (1=1)	AND RES.APPID=APP.ID
		<include refid="where_statement"/>
		ORDER BY RES.SORTINDEX 
	</select>
	
	
	<update id="logisticDelete" parameterType="Resources" >
    	UPDATE MXK_RESOURCES SET
    		STATUS	=	'2'  
    	WHERE	1	=	1
    	<if test="id != null">
			AND	ID	=	#{id}
		</if>
		<if test="name != name">
			ADN	NAME	=	#{name}
		</if>
    </update>
    
    
    <update id="logisticBatchDelete" parameterType="java.util.List">
    	UPDATE MXK_RESOURCES SET STATUS='2' WHERE ID IN
    		<foreach item="item" collection="list" open="(" separator="," close=")">
				#{item}
    		</foreach>
    </update>
    
   
</mapper>