<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.maxkey.persistence.mapper.RolesMapper">

	<sql id="where_statement">
    	<if test="id != null and id != ''">
			AND	ID	=	#{id}
		</if> 
		<if test="name != null and name != ''">
			AND NAME LIKE '%${name}%'
		</if>
    </sql>
    
	
	
	<select id="queryPageResults" parameterType="Groups" resultType="Groups">
		SELECT
			*
		FROM
			MXK_ROLES
		WHERE
			 (1=1)	
		<include refid="where_statement"/>
	</select>
	
	
	<update id="logisticDelete" parameterType="Groups" >
    	UPDATE MXK_ROLES SET
    		STATUS	=	'2'  
    	WHERE	1	=	1
    	<if test="id != null">
			AND	ID	=	#{id}
		</if>
		<if test="name != name">
			ADN	NAME	=	#{name}
		</if>
    </update>
    
    
    <update id="logisticBatchDelete" parameterType="java.util.List">
    	UPDATE MXK_ROLES SET STATUS='2' WHERE ID IN
    		<foreach item="item" collection="list" open="(" separator="," close=")">
				#{item}
    		</foreach>
    </update>
    
    
    <select id="queryRolePermissions" parameterType="RolePermissions" resultType="RolePermissions">
        SELECT
            *
        FROM
            MXK_ROLE_PERMISSIONS
        WHERE
             STATUS = 1
       <if test="id != null and id != ''">
            AND ID  =   #{id}
        </if> 
        <if test="roleId != null and roleId != ''">
            AND ROLEID  =   #{roleId}
        </if> 
        <if test="appId != null and appId != ''">
            AND APPID  =   #{appId}
        </if> 
        
    </select>
    
    <update id="logisticDeleteRolePermissions" parameterType="java.util.List">
        UPDATE MXK_ROLE_PERMISSIONS SET STATUS=9 WHERE ID IN
            <foreach item="item" collection="list" open="(" separator="," close=")">
                #{item.id}
            </foreach>
    </update>
    
    <insert id="insertRolePermissions"  parameterType="java.util.List">
	    INSERT INTO MXK_ROLE_PERMISSIONS ( ID,APPID,ROLEID,RESOURCEID,STATUS) 
	    VALUES 
	    <foreach collection="list" item="item" index="index" separator=",">
	        (#{item.id},#{item.appId},#{item.roleId},#{item.resourceId},#{item.status})
	    </foreach>
	</insert>
	
	
   
</mapper>