<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.maxkey.persistence.mapper.RoleMemberMapper">

	<sql id="where_statement">
    	<if test="id != null and id != ''">
			AND	ID	=	#{id}
		</if> 
		<if test="name != null and name != ''">
			AND NAME = #{name}
		</if>
    </sql>
    

    <!-- ROLE_MEMBER  User Member-->
    <select id="allMemberInRole" parameterType="RoleMember" resultType="RoleMember">
		    SELECT	DISTINCT
					U.ID,
					U.USERNAME,
					U.USERTYPE,
					U.WINDOWSACCOUNT,
					
					U.DISPLAYNAME ,
					U.NICKNAME ,
					U.NAMEZHSPELL,
					U.NAMEZHSHORTSPELL,
					U.GIVENNAME ,
					U.MIDDLENAME ,
					U.FAMILYNAME ,
					
					U.GENDER,
		
					U.AUTHNTYPE,
					U.MOBILE,
					U.EMAIL,
					U.WORKEMAIL,
					U.WORKPHONENUMBER,
		
					U.EMPLOYEENUMBER,
					U.DIVISION,
					U.COSTCENTER,
					U.ORGANIZATION,
					U.DEPARTMENTID,
					U.DEPARTMENT,
					U.JOBTITLE,
					U.JOBLEVEL,
					
					
					U.CREATEDBY,
					U.CREATEDDATE,
					U.MODIFIEDBY,
					U.MODIFIEDDATE,
					
					U.STATUS
				FROM
					MXK_USERINFO U
			WHERE	1	=	1
	</select>
	
    <select id="memberInRole" parameterType="RoleMember" resultType="RoleMember">
			SELECT	DISTINCT
				RM.ID,
				U.USERNAME,
				U.USERTYPE,
				U.WINDOWSACCOUNT,
				
				U.DISPLAYNAME ,
				U.NICKNAME ,
				U.NAMEZHSPELL,
				U.NAMEZHSHORTSPELL,
				U.GIVENNAME ,
				U.MIDDLENAME ,
				U.FAMILYNAME ,
				
				U.GENDER,
	
				U.AUTHNTYPE,
				U.MOBILE,
				U.EMAIL,
				U.WORKEMAIL,
				U.WORKPHONENUMBER,
	
				U.EMPLOYEENUMBER,
				U.DIVISION,
				U.COSTCENTER,
				U.ORGANIZATION,
				U.DEPARTMENTID,
				U.DEPARTMENT,
				U.JOBTITLE,
				U.JOBLEVEL,
				
				
				U.CREATEDBY,
				U.CREATEDDATE,
				U.MODIFIEDBY,
				U.MODIFIEDDATE,
				
				U.STATUS
			FROM
				MXK_USERINFO U,
				MXK_ROLES R,
				MXK_ROLE_MEMBER RM
			WHERE	1	=	1
				<if test="roleId != null and roleId != ''">
					AND RM.ROLEID = #{roleId}
					AND R.ID = #{roleId}
				</if>
				<if test="roleName != null and roleName != ''">
					AND R.NAME = #{roleName}
				</if>
				AND	RM.TYPE		=	'USER'
				AND	RM.ROLEID	=	R.ID	
				AND	RM.MEMBERID	=	U.ID
	</select>
	
	
	<select id="memberNotInRole" parameterType="RoleMember" resultType="RoleMember">
		SELECT	DISTINCT
			U.ID,
			U.USERNAME,
			U.USERTYPE,
			U.WINDOWSACCOUNT,
			
			U.DISPLAYNAME ,
			U.NICKNAME ,
			U.NAMEZHSPELL,
			U.NAMEZHSHORTSPELL,
			U.GIVENNAME ,
			U.MIDDLENAME ,
			U.FAMILYNAME ,
			
			U.GENDER,

			U.AUTHNTYPE,
			U.MOBILE,
			U.EMAIL,
			U.WORKEMAIL,
			U.WORKPHONENUMBER,

			U.EMPLOYEENUMBER,
			U.DIVISION,
			U.COSTCENTER,
			U.ORGANIZATION,
			U.DEPARTMENTID,
			U.DEPARTMENT,
			U.JOBTITLE,
			U.JOBLEVEL,
			
			
			U.CREATEDBY,
			U.CREATEDDATE,
			U.MODIFIEDBY,
			U.MODIFIEDDATE,
			
			U.STATUS
		FROM
			MXK_USERINFO U
		WHERE
			U.ID NOT IN(
       			 SELECT RM.MEMBERID 
       			 FROM 	MXK_ROLES R,MXK_ROLE_MEMBER RM
			     WHERE  1  =  1
			     <if test="roleId != null and roleId != ''">
					AND RM.ROLEID = #{roleId}
					AND R.ID = #{roleId}
				</if>
				<if test="roleName != null and roleName != ''">
					AND R.NAME = #{roleName}
				</if>
					AND	RM.TYPE		=	'USER'
			     	AND RM.ROLEID	=	R.ID
			)
	</select>
	
	
	<!-- ROLE_MEMBER  Roles Member-->
	<select id="groupMemberInRole" parameterType="RoleMember" resultType="Roles">
		SELECT	DISTINCT
			IR.*
		FROM
			MXK_ROLES IR,
			MXK_ROLES R,
			MXK_ROLE_MEMBER RM
		WHERE
			 1	=	1
			AND RM.GROUPID	=	R.ID	
			AND	RM.MEMBERID	=	IR.ID
			AND	RM.TYPE		=	'ROLE'
		<if test="roleId != null and roleId != ''">
			AND RM.ROLEID = #{roleId}
			AND R.ID = #{roleId}
		</if>
		<if test="roleName != null and roleName != ''">
			AND R.NAME = #{roleName}
		</if>
	</select>

	
</mapper>