<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.maxkey.persistence.mapper.UserInfoMapper">
	
	<select id="loadByUsername" parameterType="string" resultType="UserInfo">
    	SELECT 
			*
    	FROM
			MXK_USERINFO
		WHERE	USERNAME = #{value}
    </select>
    
	<select id="queryPageResults" parameterType="UserInfo" resultType="UserInfo">
		SELECT
			ID,
			USERNAME,
			USERTYPE,
			WINDOWSACCOUNT,
			
			DISPLAYNAME ,
			NICKNAME ,
			NAMEZHSPELL,
			NAMEZHSHORTSPELL,
			GIVENNAME ,
			MIDDLENAME ,
			FAMILYNAME ,
			
			GENDER,

			AUTHNTYPE,
			MOBILE,
			EMAIL,
			WORKEMAIL,
			WORKPHONENUMBER,

			EMPLOYEENUMBER,
			DIVISION,
			COSTCENTER,
			ORGANIZATION,
			DEPARTMENTID,
			DEPARTMENT,
			JOBTITLE,
			JOBLEVEL,
			
			
			CREATEDBY,
			CREATEDDATE,
			MODIFIEDBY,
			MODIFIEDDATE,
			
			STATUS
		FROM
			MXK_USERINFO
		WHERE
			 (1=1)	
		<if test="username != null and username != ''">
			AND USERNAME = #{username}
		</if>
		<if test="employeeNumber != null and employeeNumber != ''">
			AND EMPLOYEENUMBER = #{employeeNumber}
		</if>
		<if test="userType != null and userType != ''">
			AND USERTYPE = #{userType}
		</if>
		<if test="displayName != null and displayName != ''">
			AND DISPLAYNAME   LIKE  '%${displayName}%'
		</if>
		<if test="departmentId != null and departmentId != ''">
			AND DEPARTMENTID = #{departmentId}
		</if>
		ORDER BY SORTORDER 
	</select>
	
    <update id="locked" parameterType="UserInfo" >
    	UPDATE MXK_USERINFO SET
    		<if test="isLocked != null">
    		ISLOCKED		=	#{isLocked},
			</if>
			MODIFIEDDATE		=	current_timestamp
		WHERE 
			ID	=	#{id}
    </update>
    
    <update id="lockout" parameterType="UserInfo" >
    	UPDATE MXK_USERINFO SET
    		<if test="isLocked != null">
    		ISLOCKED		=	#{isLocked},
    		BADPWDCOUNT		=	0,
			</if>
			UNLOCKDATE			=	current_timestamp,
			MODIFIEDDATE		=	current_timestamp
		WHERE 
			ID	=	#{id}
    </update>
    	
	<update id="changePassword" parameterType="UserInfo" >
    	UPDATE MXK_USERINFO SET
    		<if test="password != null">
    		PASSWORD			=	#{password},
			DECIPHERABLE		=	#{decipherable},
			</if>
			PASSWORDSETTYPE			=	0,
			PASSWORDLASTSETTIME		=	current_timestamp
		WHERE 
			ID	=	#{id}
    </update>
    
    <update id="changeSharedSecret" parameterType="UserInfo" >
    	UPDATE MXK_USERINFO SET
    		<if test="sharedSecret != null">
    		SHAREDSECRET		=	#{sharedSecret},
			SHAREDCOUNTER		=	#{sharedCounter},
			</if>
			MODIFIEDDATE		=	current_timestamp
		WHERE 
			ID	=	#{id}
    </update>
    
    <update id="changeAppLoginPassword" parameterType="UserInfo" >
    	UPDATE MXK_USERINFO SET
    		<if test="appLoginPassword != null">
    		APPLOGINPASSWORD		=	#{appLoginPassword},
			</if>
			MODIFIEDDATE		=	current_timestamp
		WHERE 
			ID	=	#{id}
    </update>
    
    <update id="updateProtectedApps" parameterType="UserInfo" >
    	UPDATE MXK_USERINFO SET
    		<if test="protectedApps != null">
    		PROTECTEDAPPS		=	#{protectedApps},
			</if>
			MODIFIEDDATE		=	current_timestamp
		WHERE 
			ID	=	#{id}
    </update>
    
    <update id="changePasswordQuestion" parameterType="UserInfo" >
    	UPDATE MXK_USERINFO SET
    		<if test="passwordAnswer != null">
    		PASSWORDQUESTION	=	#{passwordQuestion},
			PASSWORDANSWER		=	#{passwordAnswer},
			</if>
			MODIFIEDDATE		=	current_timestamp
		WHERE 
			ID	=	#{id}
    </update>
	
	<update id="changeAuthnType" parameterType="UserInfo" >
    	UPDATE MXK_USERINFO SET
    		<if test="authnType != null">
    		AUTHNTYPE	=	#{authnType},
			</if>
			MODIFIEDDATE		=	current_timestamp
		WHERE 
			ID	=	#{id}
    </update>
    
    <update id="changeEmail" parameterType="UserInfo" >
    	UPDATE MXK_USERINFO SET
    		<if test="email != null">
    		EMAIL	=	#{email},
			</if>
			<if test="emailVerified != null">
    		EMAILVERIFIED	=	#{emailVerified},
			</if>
			<if test="theme != null">
            THEME   =   #{theme},
            </if>
			MODIFIEDDATE		=	current_timestamp
		WHERE 
			ID	=	#{id}
    </update>
    
    <update id="changeMobile" parameterType="UserInfo" >
    	UPDATE MXK_USERINFO SET
    		<if test="mobile != null">
    		MOBILE			=	#{mobile},
			</if>
			<if test="mobileVerified != null">
    		MOBILEVERIFIED	=	#{mobileVerified},
			</if>
			MODIFIEDDATE		=	current_timestamp
		WHERE 
			ID	=	#{id}
    </update>
    
    <update id="logisticBatchDelete" parameterType="java.util.List">
    	UPDATE MXK_USERINFO SET STATUS='2' WHERE ID IN
    		<foreach item="item" collection="list" open="(" separator="," close=")">
				#{item}
    		</foreach>
	</update>
	
    <update id="updateProfile" parameterType="UserInfo" >
        UPDATE MXK_USERINFO SET
            DISPLAYNAME     =   #{displayName},
            NICKNAME        =   #{nickName},
            NAMEZHSPELL     =   #{nameZhSpell},
            NAMEZHSHORTSPELL=   #{nameZhShortSpell},
            GIVENNAME       =   #{givenName},
            MIDDLENAME      =   #{middleName},
            FAMILYNAME      =   #{familyName},
            HONORIFICPREFIX =   #{honorificPrefix},
            HONORIFICSUFFIX =   #{honorificSuffix},
            FORMATTEDNAME   =   #{formattedName} ,
            MARRIED         =   #{married},
            GENDER          =   #{gender},
            BIRTHDATE       =   #{birthDate},
            <if test="picture != null">
            PICTURE         =   #{picture},
            </if>
            IDTYPE          =   #{idType},
            IDCARDNO        =   #{idCardNo},
            WEBSITE         =   #{webSite},

            LOCALE          =   #{locale},
            TIMEZONE        =   #{timeZone},
            PREFERREDLANGUAGE=  #{preferredLanguage},

            WINDOWSACCOUNT  =   #{windowsAccount},
            
            WORKCOUNTRY     =   #{workCountry},
            WORKREGION      =   #{workRegion},
            WORKLOCALITY    =   #{workLocality},
            WORKSTREETADDRESS=  #{workStreetAddress},
            WORKADDRESSFORMATTED=   #{workAddressFormatted},
            WORKEMAIL       =   #{workEmail},
            WORKPHONENUMBER =   #{workPhoneNumber},
            WORKPOSTALCODE  =   #{workPostalCode},
            WORKFAX         =   #{workFax},
            
            HOMECOUNTRY     =   #{homeCountry},
            HOMEREGION      =   #{homeRegion},
            HOMELOCALITY    =   #{homeLocality},
            HOMESTREETADDRESS=  #{homeStreetAddress},
            HOMEADDRESSFORMATTED=   #{homeAddressFormatted},
            HOMEEMAIL       =   #{homeEmail},
            HOMEPHONENUMBER=    #{homePhoneNumber},
            HOMEPOSTALCODE  =   #{homePostalCode},
            HOMEFAX         =   #{homeFax},
            
            EXTRAATTRIBUTE  =   #{extraAttribute},
            
            MODIFIEDBY      =   #{modifiedBy},
            MODIFIEDDATE    =   current_timestamp       
        WHERE 
            ID  =   #{id}
    </update>
 
</mapper>