<?xml version="1.0" encoding="UTF-8"?>  
<configuration status="INFO">  
    <appenders>  
    	
        <Console name="consolePrint" target="SYSTEM_OUT">  
            <PatternLayout pattern="%d{YYYY-MM-dd HH:mm:ss,SSS} [%t] %-5level %logger{36} - %msg%n" />  
        </Console>
        <!--
        <File name="File" fileName="logs/maxkey-dao.log">
            <PatternLayout pattern="%d{YYYY-MM-dd HH:mm:ss,SSS} [%t] %-5level %logger{36} - %msg%n" />
        </File>
        -->
  
	 </appenders>  
	 
    <loggers>  
    	<Logger name="org.springframework" level="INFO"></Logger>
    	<Logger name="org.apache.logging" level="INFO"></Logger>
    	<Logger name="org.maxkey" level="DEBUG"></Logger>
    	<Logger name="org.apache.mybatis" level="TRACE"></Logger>
    	
    	
        <root level="INFO">  
            <appender-ref ref="consolePrint" /> 
        </root>  
    </loggers>  
</configuration>