#nav_primary{
    background: #414141;
}
.menuprimary {
	font: bold 12px Verdana;
	margin: auto;
	height: 41px;
}

.menucontainer {
	float: left;
	margin-top: -2px;
}

.menuprimary ul {
	z-index: 100;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

/*Top level list items*/
.menuprimary ul li {
	position: relative;
	display: inline;
	float: left;
}

.menuprimary ul .primaryleft {
	border-left: 1px solid white;
}

/*Top level menu link items style*/
.menuprimary ul li a {
	display: block;
	background: #414141; /*background of menu items (default state)*/
	color: white;
	padding: 10px 20px;
	border-right: 1px solid white;
	color: #2d2b2b;
	text-decoration: none;
	height: 40px;
	font-size: 13px;
}

* html .menuprimary ul li a {
	/*IE6 hack to get sub menu links to behave correctly*/
	display: inline-block;
}

.menuprimary ul li a:link,.menuprimary ul li a:visited {
	color: white;
}

.menuprimary ul li a.selected {
	/*CSS class that's dynamically added to the currently active menu items' LI A element*/
	background: #0769AD !important;
	color: white;
}

.menuprimary ul li a:hover {
	background: #0769AD;
	/*background of menu items during onmouseover (hover state)*/
	color: white;
}

/* sub menus */
.menuprimary ul li ul {
	position: absolute;
	left: -3000px;
	display: none; /*collapse all sub menus to begin with*/
	visibility: hidden;
}

/*Sub level menu list items (alters style from Top level List Items)*/
.menuprimary ul li ul li {
	display: list-item;
	float: none;
}

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.menuprimary ul li ul li ul {
	top: 0;
}

/* Sub level menu links style */
.menuprimary ul li ul li a {
	font: normal 13px Verdana;
	width: 160px; /*width of sub menus*/
	padding: 5px;
	margin: 0;
	border-top-width: 0;
	border-bottom: 1px solid gray;
	height: 90%;
}

/* Holly Hack for IE \*/
* html .menuprimary {
	height: 1%;
} /*Holly Hack for IE7 and below*/

/* ######### CSS classes applied to down and right arrow images  ######### */
.downarrowclass {
	position: absolute;
	top: 12px;
	right: 7px;
}

.rightarrowclass {
	position: absolute;
	top: 6px;
	right: 5px;
}

/* ######### CSS for shadow added to sub menus  ######### */
.ddshadow {
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	height: 0;
	background-color: #ccc;
	/* generally should be just a little lighter than the box-shadow color for CSS3 capable browsers */
}

.toplevelshadow {
	margin: 5px 0 0 5px;
	/* in NON CSS3 capable browsers gives the offset of the shadow */
	opacity: 0.8;
	/* shadow opacity mostly for NON CSS3 capable browsers. Doesn't work in IE */
}

.ddcss3support .ddshadow.toplevelshadow {
	margin: 0;
	/* in CSS3 capable browsers overrides offset from NON CSS3 capable browsers, allowing the box-shadow values in the next selector to govern that */
	/* opacity: 1; */
	/* optionally uncomment this to remove partial opacity for browsers supporting a box-shadow property which has its own slight gradient opacity */
}

.ddcss3support .ddshadow {
	background-color: transparent;
	box-shadow: 5px 5px 5px #aaa;
	/* box-shadow color generally should be a little darker than that for the NON CSS3 capable browsers background-color */
	-moz-box-shadow: 5px 5px 5px #aaa;
	-webkit-box-shadow: 5px 5px 5px #aaa;
}

/************************************************************************************************************/
.menusecond {
	font: bold 12px Verdana;
	background: white; /*background of menu bar (default state)*/
	margin: auto;
}

.menusecond ul {
	z-index: 100;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

/*Top level list items*/
.menusecond ul li {
	position: relative;
	display: inline;
	float: left;
}

/*Top level menu link items style*/
.menusecond ul li a {
	display: block;
	background: white; /*background of menu items (default state)*/
	color: #414141;
	padding: 8px 10px;
	border-right: 1px solid #778;
	color: #2d2b2b;
	text-decoration: none;
}

* html .menusecond ul li a {
	/*IE6 hack to get sub menu links to behave correctly*/
	display: inline-block;
}

.menusecond ul li a:link,.menusecond ul li a:visited {
	color: #414141;
}

.menusecond ul li a.selected {
	/*CSS class that's dynamically added to the currently active menu items' LI A element*/
	background: #F0F0F0 !important;
	color: #414141;
}

.menusecond ul li a:hover {
	background: #F0F0F0;
	/*background of menu items during onmouseover (hover state)*/
	color: #414141;
}

/* sub menus */
.menusecond ul li ul {
	position: absolute;
	left: -3000px;
	display: none; /*collapse all sub menus to begin with*/
	visibility: hidden;
}

/*Sub level menu list items (alters style from Top level List Items)*/
.menusecond ul li ul li {
	display: list-item;
	float: none;
}

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.menusecond ul li ul li ul {
	top: 0;
}

/* Sub level menu links style */
.menusecond ul li ul li a {
	font: normal 13px Verdana;
	width: 160px; /*width of sub menus*/
	padding: 5px;
	margin: 0;
	border-top-width: 0;
	border-bottom: 1px solid gray;
}

/* Holly Hack for IE \*/
* html .menusecond {
	height: 1%;
} /*Holly Hack for IE7 and below*/

/* ######### CSS classes applied to down and right arrow images  ######### */
.downarrowclass {
	position: absolute;
	top: 12px;
	right: 7px;
}

.rightarrowclass {
	position: absolute;
	top: 6px;
	right: 5px;
}

/* ######### CSS for shadow added to sub menus  ######### */
.ddshadow {
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	height: 0;
	background-color: #ccc;
	/* generally should be just a little lighter than the box-shadow color for CSS3 capable browsers */
}

.toplevelshadow {
	margin: 5px 0 0 5px;
	/* in NON CSS3 capable browsers gives the offset of the shadow */
	opacity: 0.8;
	/* shadow opacity mostly for NON CSS3 capable browsers. Doesn't work in IE */
}

.ddcss3support .ddshadow.toplevelshadow {
	margin: 0;
	/* in CSS3 capable browsers overrides offset from NON CSS3 capable browsers, allowing the box-shadow values in the next selector to govern that */
	/* opacity: 1; */
	/* optionally uncomment this to remove partial opacity for browsers supporting a box-shadow property which has its own slight gradient opacity */
}

.ddcss3support .ddshadow {
	background-color: transparent;
	box-shadow: 5px 5px 5px #aaa;
	/* box-shadow color generally should be a little darker than that for the NON CSS3 capable browsers background-color */
	-moz-box-shadow: 5px 5px 5px #aaa;
	-webkit-box-shadow: 5px 5px 5px #aaa;
}